<div class="collection-mobile-back" (click)="mobileFilterBack()">
  <span class="filter-back">
    <i class="fa fa-angle-left" aria-hidden="true"></i> back
  </span>
</div>
<div class="collection-collapse-block border-0 open">
  <h3 class="collapse-block-title">{{'category' | translate}}</h3>
  <div class="collection-collapse-block-content">
    <div class="collection-brand-filter">
      <ul class="category-list">
        <li *ngFor="let cat of categoryList"><a [routerLink]="['/home/collection', cat.id]">{{cat.description.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>