<!-- Main navbar -->
<div class="navbar echo-nav-search" style="z-index:20 !important;padding:0px !important;">

  <div class="echo-slogan">
    <!-- <span class="col-auto toggle-nav"><i class="fa fa-bars"></i></span> -->
    <!-- <span class="col-auto toggle-nav"><i class="fa fa-bars"></i></span> -->
    <a href="#">
      <!-- <img class="responsive" src="assets/images/icon/logo.png" /> -->
      <span>
        <img class="responsive" style="margin:5px !important" src="assets/images/echo/ecommerce.png" />
      </span>
      <span class="xxx-larg  xxx-larg bolder text-slate-800" style="padding:5px;text-shadow: 1px 2px 1px #a4ebdb;">
        {{'System-title' | translate}}
      </span>


    </a>
  </div>

  <!--**************** website Icone  ******************-->
  <div class="pull-left put-right echo-slogan-actions">

    <div ngbDropdown class=" pull-right put-left">
      <button class="btn btn-xl btn-icon btn-rounded border-grey text-grey legitRipple" id="dropdownForm1"
        ngbDropdownToggle>
        <img src="assets/images/echo/cart_empty.png" alt="" />
        <span class="cart_qty_cnt_cls" *ngIf="shoppingCartItems.length">{{shoppingCartItems.length}}</span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="p-3 menuCart" style="min-width: 15rem;">
        <ul class="show-div shopping-cart" *ngIf='!productsService?.catalogMode && !shoppingCartItems.length'>
          <h5 class="text-center medium">{{'Your cart is currently empty' | translate}}</h5>
        </ul>
        <ul class="show-div shopping-cart" style="width:100%"
          *ngIf='!productsService?.catalogMode && shoppingCartItems.length'>
          <li *ngFor="let item of shoppingCartItems" style="width:90%">
            <div class="row p-1 shoppingCartItems">
              <div class="col-3">
                <a [routerLink]="['/home/product', item.product.id]"><img class="mr-3" width="50" height="50"
                    [src]="item.product.image ? host + item.product.image.imageUrl : '../../../../../assets/images/cart-icon.png'"
                    alt="{{ item.product.name }}"></a>
              </div>
              <div class="col-7">
                <a [routerLink]="['/home/product', item.product.id]">
                  <span class="small">{{ item.product.name }}</span>
                </a>
                <div class="row">
                  <div class="col-3 medium txt-danger">
                    {{ item.quantity + '' }}
                  </div>
                  <div class="col-1 larg txt-danger">x</div>
                  <div class="col-3 medium txt-danger">
                    {{ item.product.price | currency:productsService?.currency:'symbol' }}
                  </div>
                </div>

              </div>
              <div class="col-2">
                <div class="close-circle larg">
                  <a (click)="removeItem(item)"><i class="fa fa-times txt-echo" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </li>
        </ul>


        <div class="row text-center" *ngIf='!productsService?.catalogMode && shoppingCartItems.length'>
          <div class="col text-center">
            <span class="medium txt-danger text-center">{{'subtotal' | translate}} :
              {{ getTotal() | async | currency:productsService?.currency:'symbol'}}
            </span>
          </div>
        </div>
        <hr />

        <div class="row text-center" style="width:100%"
          *ngIf='!productsService?.catalogMode && shoppingCartItems.length'>
          <div class="col medium">
            <i class="text-primary fa fa-shopping-cart fa-w-7"></i>&nbsp;
            <a [routerLink]="'/home/cart'" class="view-cart">{{'view cart' | translate}}</a>
          </div>
          <div class="col medium">
            <i class="text-primary fa fa fa-money fa-w-7"></i>&nbsp;
            <a [routerLink]="'/home/checkout'" class="checkout">{{'checkout' | translate}}</a>
          </div>
        </div>

      </div>
    </div>

    <div ngbDropdown class=" pull-right put-left" style="margin-left:5px !important;margin-right:5px !important;">
      <button class="btn btn-xl btn-icon btn-rounded border-grey text-grey legitRipple" id="addToWishlist">
        <img src="assets/images/echo/heart.png" alt="" [routerLink]="'/pages/wishlist'" aria-hidden="true" />
        <!-- <i class="text-slate-500 fa fa-heart fa-w-7 fa-2x fav-ico" [routerLink]="'/pages/wishlist'" aria-hidden="true"> -->
        <span class="cart_qty_cnt_cls " *ngIf="wishlistCartItems.length">{{wishlistCartItems.length}}</span>
        <!-- </i> -->
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="p-3" style="display:none !important">
      </div>
    </div>

    <div ngbDropdown class=" pull-right put-left" style="margin-left:5px !important;margin-right:5px !important;">
      <button class="btn btn-xl btn-icon btn-rounded border-grey text-grey legitRipple" id="addToquote">
        <img src="assets/images/echo/qout.png" alt="" [routerLink]="'/pages/quotation'" aria-hidden="true" />
        <!-- <i class="text-slate-500 fa fa-quote-left fa-2x quot-ico" > -->
        <span class="cart_qty_cnt_cls " *ngIf="quotationItems.length">{{quotationItems.length}}</span>
        <!-- </i> -->
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="p-3" style="display:none !important">
      </div>
    </div>

    <div ngbDropdown class=" pull-right put-left" style="margin-left:5px !important;margin-right:5px !important;">
      <button class="btn btn-xl btn-icon btn-rounded border-grey text-grey legitRipple" id="addTocompare">
        <img src="assets/images/echo/compar.png" alt="" [routerLink]="'/home/compare'" aria-hidden="true" />
        <span class="cart_qty_cnt_cls " *ngIf="compareItems.length">{{compareItems.length}}</span>
        <!-- </i> -->
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="p-3" style="display:none !important">
      </div>
    </div>




  </div>
  <!--****************/website Icone  ******************-->


  <!--**************** search bar ******************-->

  <div class="search-bar">
    <div class="input-group border-slate-800">
      <span class="input-group-btn  bg-slate-800" style="width:25% !important">
        <button type="button" id="headerSearchBtn"
          class="btn bg-slate-800 text-center">
          <b><i class="fa fa-search"></i></b>
          &nbsp;{{'search' | translate}}
        </button>
      </span>
      <span class="bg-slate-800 echoSearchInput">
        <input type="text" id="productSearchInputText" style="margin:2px" class="form-control" [(ngModel)]="productName"
          (keyup)="search($event.target.value)">
      </span>

      <span class="input-group-btn echoSearch bg-slate-800" style="width:25% !important">
        <p-dropdown [options]="categories" [(ngModel)]="selectedCategory" filter="true" (onChange)="searchByCategory()">
          <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle; margin-left: .5em">{{item.label | translate}}</span>
          </ng-template>
          <ng-template let-cat pTemplate="item">
            <div style="display: block;">{{cat.label | translate}}</div>
          </ng-template>
        </p-dropdown>

      </span>
    </div>
  </div>
  <!--************** /search bar end  **************-->


</div>