.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

 .dropdown-toggle::after {
    display:none;
}

#sticky .dropdown-menu:before { 
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,.2);
    position: absolute;
    top: -7px;
    left: 9px;
}
.menu-options .txt-center{
    text-align: center !important;
}



.search-bar{
    z-index:100 !important;
    margin:0px !important;
    padding:0px !important;
    width:50% !important;
    margin-left:5px !important;
    margin-right:5px !important;

}


.search-bar .form-control {
    margin:1px !important;
    height: 38px !important;
}
.echoSearch .ui-dropdown{
  border:none !important;
  width:70px !important;
  background:none !important;
   height: 36px !important;
}
.echoSearch label{
    margin:4px !important;
  background:none !important;
  color:#fff !important;
  font-size:14px !important;

    position: relative !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    border-width: 0 !important;
    

}
.echoSearch span{
  background:none !important;
  color:#fff !important;
  font-size:14px !important;
}

.echoSearch .ui-dropdown-trigger{
  background:none !important;
}


body:not(.rtl) .search-bar .left-search-button{
    //border-top-right-radius: 20px;
    //border-bottom-right-radius: 20px;
}

body:not(.rtl) .search-bar .right-search-button{
    //border-top-left-radius: 16px;
   // border-bottom-left-radius: 16px;
}
.search-bar .search-border{
   // border: 1px solid #999999;border-radius: 1px;
}

.cart_qty_cnt_cls {
    position: absolute;
    background: #ff4c3b;
    width: 20px;
    height: -13px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    top: 1%;
    left: 2px;
    padding: 3px 3px;
}

.wlist_qty_cnt_cls {
    position: absolute;
    background: #ff4c3b;
    width: 20px;
    height: -13px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    top: 1%;
    left:-1px;
    padding: 3px 3px;
}

.close-circle{
    cursor: pointer;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .search-bar {
        display: none !important;
    }
    .hdr-logo{
        
    }
  }


  