<div class="footer-title text-center">
  <span class="medium bold">{{'SystemInformation' | translate}}</span>
</div>
<div class="footer-contant">
  <ul *ngFor = "let sys of systemInfoList" >
      <li *ngIf="sys.displsy" class="small">
        <a  [routerLink]="'/pages/info-details'" class="small" [queryParams]="{id: sys.id ,title:sys.titleByLan}">{{sys.desNameByLan }}</a></li>
  </ul>
</div>
