<!-- color filter start here -->
<div class="collection-collapse-block open">
  <h3 class="collapse-block-title">{{'sizes' | translate}}</h3>
  <div class="collection-collapse-block-content">
      <div class="size-selector">
          <ul>
            <li [ngClass]="filter.size" [class.active]="activeItem == filter.size" (click)="changeSize(activeItem == filter.size ? {} : filter)" *ngFor="let filter of sizesFilters">{{filter.size | translate}}</li>
          </ul>  
      </div>
  </div>
</div>