<!-- header start -->
<header id="sticky" class="sticky">
	<div class="mobile-fix-option"></div>
	<div class="top-header">
		<div class="container">
			<app-topbar></app-topbar>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="main-menu">
					<div class="menu-left">
						<div class="brand-logo">
							<a [routerLink]="['/home']">
								<img src="assets/images/icon/logo.png" alt="">
							</a>
						</div>
					</div>
					<div id="echoShop-menu-horizontal" class="menu-right pull-right">
						<div>sssssssssssssssss
							<app-navbar></app-navbar>
						</div>
						<div>
							<app-header-widgets (showSearchEvent)="openSearch($event)"
								[shoppingCartItems]="shoppingCartItems"></app-header-widgets>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>
</header>
<!-- header end -->