<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="pull-left put right" style="width:50%">
                <h2 class="medium">
                    <img src="assets/images/echo/login.png" />
                    &nbsp; {{'customers login' | translate}}</h2>

            </div>
            <div class="pull-right put left" style="width:50%;">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a [routerLink]="'/home'" class="smaller">
                                <i class="fa fa-home"></i> &nbsp; {{'Home' | translate}}
                            </a> &nbsp; /
                        </li>
                        <li>
                            <a href="#" class="smaller">
                                &nbsp; {{'customers login' | translate}}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->



<!-- section start -->
<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>{{'Login' | translate}}</h3>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" formControlName="email"
                                placeholder="{{'Email' | translate}}" name="email" id="email" required="required"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">{{'Email' | translate}} {{'Is Required' |
                                    translate}}</div>
                            </div>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="{{'Password' | translate}} " name="password" required="required"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">{{'Password' | translate}} {{'Is Required' |
                                    translate}}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label class="checkbox-inline">
                                    <input type="checkbox" formControlName="rememberMe" class="styled"
                                        checked="checked">
                                    {{'rememberMe' | translate}}
                                </label>
                            </div>
                            <div class="col">
                                <a style="color: #f24b3c !important" [routerLink]="['/auth/forgetpassword']">{{'forget-password' | translate}}</a>
                            </div>
                        </div>

                        <button class="btn btn-solid">{{'Login' | translate}}</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 right-login">
                <h3>{{'New Customer' | translate}}</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">{{'Create A Account' | translate}}</h6>
                    <p>{{'Sign up for a free account at our store. Registration is quick and easy. It allows you to be
                        able to order from our shop. To start shopping click register.' | translate}}</p>
                    <a class="btn btn-solid" [routerLink]="'/auth/register'">{{'Create an Account' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->