<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>{{'product' | translate}}</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/home'">{{'Home' | translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'product' | translate}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-b-space">
  <div class="collection-wrapper">
    <div class="container">
      <!-- <div class="row">
        <div class="col">
          <p-lightbox [images]="product?.images"></p-lightbox>
        </div>
      </div> -->
      <!-- product data 3 cols -->
      <div class="row">
        <!-- col (a) -->
        <div class="col-lg-4">
          <ngx-slick-carousel class="product-slick" id="p-zoom" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let image of product?.images">
              <div>
                <ngx-img-zoom 
                  [previewImageSrc]="[image?.imageUrl]" 
                  [zoomImageSrc]="[image?.imageUrl]"
                  [imgStyle]="'width:100%; height:100%;'" 
                  [resultStyle]="resultStyle" 
                  [lensStyle]="'width:29%; height:27%;'" 
                  [containerStyle]="'position: relative;
                        width: 420px;
                        height: 540px;'" 
                    (mouseover)="onMouseOver()" 
                    (mouseout)="onMouseOut()">
                </ngx-img-zoom>
              </div>
            </div>
          </ngx-slick-carousel>
          <hr>
          <div class="row">
            <div class="col-12 p-0">
              <ngx-slick-carousel class="slider-nav " #slickModal="slick-carousel" [config]="slideNavConfig">
                <div ngxSlickItem *ngFor="let image of product?.images">
                  <div class="img-container">
                    <img [src]="image?.imageUrl" alt="" class="img-fluid-thumb">
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
        <!-- col (b) -->
        <div class="col-lg-4">
          <div class="rtl-text">
            <div class="product-right">
              <h2>{{product?.name}}</h2>
              <div class="border-product">
                <h6 class="product-title">{{'Product Details' | translate}}</h6>
                <p [innerHtml]="product?.description?.description"></p>
              </div>
              <!-- products attr of text only -->
              <div class="border-product" *ngIf="productAttributes.length > 0">
                <ng-container *ngFor="let attr of productAttributes">
                  <ng-container [ngSwitch]="attr.type">
                    <ng-container *ngSwitchCase="'text'">
                      <div class="single-product-tables detail-section">
                        <table>
                          <tbody>
                            <tr>
                              <td>{{attr.name}}:</td>
                              <td>
                                <ng-container *ngFor="let val of attr.optionValues">
                                  <span class="medium badge badge-info p3 m-1 display-4">{{val.name}}</span>
                                </ng-container>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
              <!-- end -->
            </div>
          </div>
          <div class="border-product">
            <a [routerLink]="" (click)="addToWishlist(product)" class="btn btn-solid"
              [class.disabled]="counter > product?.quantity">{{'Add To WishList' | translate}}</a>
          </div>
        </div>
        <!-- col (c) -->
        <div class="col-lg-4">
          <div class="product-right product-form-box">
            <!-- start price -->
            <h4 *ngIf="product?.discounted"><del>{{product?.originalPriceAmount |
              currency:echoProductService?.currency:'symbol'}}</del><span> {{product?.discountPercentage}} %
                {{'off' | translate}} </span>
            </h4>
            <h3>{{product?.price |currency:echoProductService?.currency:'symbol'}}</h3>

            <div class="pro_inventory" *ngIf="product?.quantity != 0 && product?.quantity <= 5 ">
              <p class="active">
                {{'Hurry! We have only' | translate}} {{product?.quantity}} {{'product in stock.' | translate}}
              </p>
              <div class="inventory-scroll nostripes active">
                <span style="width: 95%;"></span>
              </div>
            </div>
            <!-- end price -->
            <!-- start product attributes -->
            <div class="border-product" *ngIf="productAttributes.length > 0">
              <ng-container *ngFor="let attr of productAttributes">
                <ng-container [ngSwitch]="attr.type">
                  <ng-container *ngSwitchCase="'color'">
                    <!-- <h6 class="product-title">{{attr.name}}</h6> -->
                    <ng-container *ngFor="let val of attr.optionValues">
                      <span (click)="selectedColor=val.code;productAttrChanged(attr, val.attributeId)"
                        [ngClass]="{'active': selectedColor == val.code}" class="dot {{val.name}}"></span>
                    </ng-container>
                  </ng-container>
                  <br>
                  <!--  -->
                  <ng-container *ngSwitchCase="'size'">
                    <h6 class="product-title">{{attr.name}}</h6>
                    <ng-container *ngFor="let val of attr.optionValues">
                      <span (click)="selectedSize=val.code;productAttrChanged(attr, val.attributeId)"
                        [ngClass]="{'active': selectedSize == val.code}" class="dot">{{val.name}}</span>
                    </ng-container>
                  </ng-container>
                  <!--  -->
                  <ng-container *ngSwitchCase="'radio'">
                    <span class="product-title">{{attr.name}} : </span>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <ng-container *ngFor="let item of attr.optionValues">
                        <label class="btn btn-warning" (click)="productAttrChanged(attr, item.attributeId)">
                          <input type="radio" name="options" id="option{{item.name}}" autocomplete="off">
                          {{item.name}}</label>
                      </ng-container>
                    </div>
                  </ng-container>
                  <!--  -->
                  <ng-container *ngSwitchCase="'checkbox'">
                    <h6 class="product-title">{{attr.name}}</h6>
                    <!-- <ng-container *ngFor="let val of attr.optionValues">
                      <input type="checkbox" name="valaa" (change)="productAttrChanged(attr, $event.target.value)"
                        value="{{val.attributeId}}">{{val.name}} | price : {{val.price}}<br>
                    </ng-container> -->

                    <div class="list-group">
                      <ng-container *ngFor="let val of attr.optionValues">
                        <input type="checkbox" name="CheckBoxInputName" value="{{val.attributeId}}"
                        (change)="productAttrChanged(attr, $event.target.value)" id="CheckBox{{val.attributeId}}" />
                        <label class="list-group-item" for="CheckBox{{val.attributeId}}">{{val.name}}
                          <span class="badge badge-info mx-3">{{'price' | translate}} :{{val.price}}</span>
                        </label>
                      </ng-container>
                    </div>


                  </ng-container>
                  <!--  -->
                  <!-- <div *ngSwitchDefault>
                    <div class="form-group">
                      <h6 class="product-title">{{attr.name}}</h6>
                      <select class="form-control" (change)="productAttrChanged(attr, $event.target.value)">
                        <option *ngFor="let val of attr.optionValues" [value]="val.attributeId">{{val.name}}
                        </option>
                      </select>
                    </div>
                  </div> -->
                </ng-container>
                <!--  -->
              </ng-container>
            </div>
            <!-- end -->
            <!-- start qty box -->
            <div class="product-description border-product">
              <h5 class="avalibility" *ngIf="counter <= product?.quantity">
                <span>{{'In Stock' | translate }}</span></h5>
              <h5 class="avalibility" *ngIf="counter > product?.quantity">
                <span>{{'Out of Stock' | translate}}</span></h5>
              <h6 class="product-title">{{'quantity' | translate}}</h6>

              <div class="qty-box">
                <div class="input-group">
                  <span class="input-group-prepend">
                    <button type="button" (click)="decrement()" class="btn quantity-left-minus" data-type="minus"
                      data-field="">
                      <i class="ti-angle-left"></i>
                    </button>
                  </span>
                  <input type="text" name="quantity" disabled class="form-control input-number" value="{{counter}}">
                  <span class="input-group-prepend">
                    <button type="button" (click)="increment()" class="btn quantity-right-plus" data-type="plus"
                      data-field="">
                      <i class="ti-angle-right"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <!-- end qty box -->
            <!-- start time remender -->
            <div class="border-product" *ngIf="product?.discounted">
              <h6 class="product-title">{{'Time Reminder' | translate}}</h6>
              <div class="timer">
                <p id="timer">
                  <span>{{pdays}}
                    <span class="padding-l">:</span>
                    <span class="timer-cal">{{'Days' | translate}}</span>
                  </span>
                  <span>{{phours}}
                    <span class="padding-l">:</span>
                    <span class="timer-cal">{{'Hrs' | translate}}</span>
                  </span>
                  <span>{{pminutes}}
                    <span class="padding-l">:</span>
                    <span class="timer-cal">{{'Min' | translate}}</span>
                  </span>
                  <span>{{pseconds}}
                    <span class="timer-cal">{{'Sec' | translate}}</span>
                  </span>
                </p>
              </div>
            </div>
            <!-- end time remender -->
            <!-- start buttons -->
            <div class="product-buttons">
              <a [routerLink]="" (click)="addToCart(product, counter)" class="btn btn-solid"
                [class.disabled]="counter > product?.quantity">{{'Add To Cart' | translate}}</a>
              <a [routerLink]="" (click)="buyNow(product, counter)" class="btn btn-solid"
                [class.disabled]="counter > product?.quantity">{{'Buy Now' | translate}}</a>
            </div>
            <!-- end buttons -->
          </div>
        </div>
      </div>
      <!-- desc & reviews -->
      <div class="row">
        <div class="col">
          <section class="tab-product m-0">
            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="top-home-tab" data-toggle="tab" href="#top-home" role="tab"
                      aria-selected="true">
                      <i class="icofont icofont-ui-home"></i>{{'Description' | translate}}</a>
                    <div class="material-border"></div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-top-tab" data-toggle="tab" href="#top-profile" role="tab"
                      aria-selected="false"><i class="icofont icofont-man-in-glasses"></i>{{'Details' | translate}}</a>
                    <div class="material-border"></div>
                  </li>
                  <li *ngIf="isLoggedIn" class="nav-item">
                    <a class="nav-link" id="review-top-tab" data-toggle="tab" href="#top-review" role="tab"
                      aria-selected="false">
                      <i class="icofont icofont-contacts"></i>{{'Write Review' | translate}}</a>
                    <div class="material-border"></div>
                  </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                  <!-- tab 1 -->
                  <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                    <p>{{product?.name}}</p>
                    <div [innerHTML]="product?.description?.description"></div>
                  </div>
                  <!-- tab 2 -->
                  <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                    <p>{{product?.shortDetails}}</p>
                    <div class="single-product-tables">
                      <table>
                        <tbody>
                          <tr>
                            <td>{{'Name' | translate}}</td>
                            <td>{{product?.name}}</td>
                          </tr>
                          <tr>
                            <td>{{'Price' | translate}}</td>
                            <td>{{product?.price | currency:echoProductService?.currency:'symbol'}}</td>
                          </tr>
                          <tr>
                            <td>{{'Rate' | translate}}</td>
                            <!--  (rateChange)="updateProductRate(product, $event)" -->
                            <td>
                              <bar-rating [rate]="product?.rating" [max]="5" [readOnly]="true"></bar-rating>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- tab 3  add review -->
                  <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">

                    <product-review [productId]="productId"></product-review>

                  </div>


                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->
<!-- Modal size chart -->
<!-- <div class="modal fade" id="sizemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ product?.description?.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/size-chart.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div> -->

<wide-related-products [productId]="productId"></wide-related-products>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>