.bordered{
  border: 1px solid red;
}

.list-group-item {
  user-select: none;
}

.list-group input[type="checkbox"] {
  display: none;
}

.list-group input[type="checkbox"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="checkbox"] + .list-group-item:before {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="checkbox"]:checked + .list-group-item {
  background-color: #0275D8;
  color: #FFF;
}

.list-group input[type="checkbox"]:checked + .list-group-item:before {
  color: inherit;
}

.list-group input[type="radio"] {
  display: none;
}

.list-group input[type="radio"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="radio"] + .list-group-item:before {
  content: "\2022";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="radio"]:checked + .list-group-item {
  background-color: #0275D8;
  color: #FFF;
}

.list-group input[type="radio"]:checked + .list-group-item:before {
  color: inherit;
}



//fonts
$font_0: Lato;
$font_1: sans-serif;
$font-themify: themify;
$font-awesome: FontAwesome;
$assetspath: "/assets/images";
//colors
$white: #ffffff;
$white-dark: #eeeeee;
$black: #000000;
$dark-font: #222222;
$grey-dark: #2d2a25;
$font-color:#333333;
$grey: #777777;
$grey-light: #a1a1a1;
$border:#dddada;
$round-border: #dddddd;
$grey-lighter: #f9f9f9;
$theme-deafult: #ff4c3b;
$grey-darken: #393230;
$grey-link: #948e8c;
$grey-font: #938d8c;
$dark-footer: #2e2726;
$form-bg: #f5f2f2;
$grey-shade: #7f786d;
$darker-footer: #25221e;
$border-color: #38352f;
$border-grey: #f1f5f4;
$font-grey: #aaaaaa;
$star-yellow: #ffa200;
$border-bottom-g:#525252;
//$top-header: #f8f8f8;
$top-header: #f1eeec;
$header-font: #999999;
$shadow: #ededed;
$box-border: rgba(236, 236, 236, 0.6588235294117647);
$grey-about: #f7f7f7;
$grey2:#555555;
$grey3: #efefef;
$grey4: #444444;
$grey5: #888888;
$grey6:#6f6f6f;
$sidebar-border: #f5f2f2;
$sidebar-color:#938d8c;
$modal: #ffba00;
$bg-color: #d0edff;
$bg-color1: #f1e7e6;
$bg-color2: #bfbfbf;
$light-grey: #d0edff;
$light-grey: #d0edff;
$pink: #ffc0cb;
$red: #ff647f;
$green: #6fb866;
$yellow: #f2f896;
$skyblue: #7ee7ec;
$blue: #63b4f2;
$orange: #ffb17a;
$purple: #eeb1d7;
$violet: #a06da0;
$brown: #a57372;
$lightgreen: #90ee90;
$olive: #808000;
$navy: #505c80;
$maroon: #804f56;
$icon: #6f6f6f;
$grey-about: #f7f7f7;
$grey01:#111111;
$grey2:#555555;
$grey3: #efefef;
$grey4: #444444;
$grey5: #888888;
$grey6:#6f6f6f;
$grey7:#40494f;
$grey8:#c0c0c0;
$left-sidebar: #2b2b2b;
$dark-body:#2b2b2b;
$dark-top:#1f1f1f;
$color-red:#ff4c3b;
$gradient1: #01effc;
$gradient2: #485ff2;



.size-box {
    margin-top: 10px;
    margin-bottom: 10px;

    ul {
      li {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
        border: 1px solid #231;
        text-align: center;

        a {
          color: #456;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }

        &.active {
          background-color: #546;
        }
      }
    }
  }

  .color-variant {
    padding-top: 12px;

    li {
      display: inline-block;
      height: 20px;
      width: 20px;
      border-radius: 100%;
      margin-right: 5px;
      transition: all 0.1s ease;
      cursor: pointer;
      vertical-align: middle;

      &.white {
        background-color: $white;
        border: 1px solid #aaa;
      }

      &.pink {
        background-color: $pink;
      }

      &.red {
        background-color: $red;
      }

      &.green {
        background-color: $green;
      }

      &.yellow {
        background-color: $yellow;
      }

      &.skyblue {
        background-color: $skyblue;
      }

      &.blue {
        background-color: $blue;
      }

      &.orange {
        background-color: $orange;
      }

      &.purple {
        background-color: $purple;
      }

      &.violet {
        background-color: $violet;
      }

      &.brown {
        background-color: $brown;
      }

      &.lightgreen {
        background-color: $lightgreen;
      }

      &.olive {
        background-color: $olive;
      }

      &.navy {
        background-color: $navy;
      }

      &.black {
        background-color: $black;
      }

      &.gray,
      .grey {
        background-color: $grey;
      }
    }
  }



  .dot {
    height: 35px;
    width: 35px;
    margin: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: relative;

    &:hover {
      cursor: pointer;
      border: 2px solid #000;
    }

    &.active {
      border: 3px solid #000;
      font: normal normal normal 14px/1 FontAwesome;
        &:before {
          content: "\f00c";
          position: absolute;
          right: 6px;
          top: 6px;
        }
    }
  }

  


  .dot {
    &.white {
      background-color: $white;
      border: 1px solid #aaa;
    }

    &.pink {
      background-color: $pink;
    }

    &.red {
      background-color: $red;
    }

    &.green {
      background-color: $green;
    }

    &.yellow {
      background-color: $yellow;
    }

    &.skyblue {
      background-color: $skyblue;
    }

    &.blue {
      background-color: $blue;
    }

    &.orange {
      background-color: $orange;
    }

    &.purple {
      background-color: $purple;
    }

    &.violet {
      background-color: $violet;
    }

    &.brown {
      background-color: $brown;
    }

    &.lightgreen {
      background-color: $lightgreen;
    }

    &.olive {
      background-color: $olive;
    }

    &.navy {
      background-color: $navy;
    }

    &.black {
      background-color: $black;
    }

    &.gray,
    .grey {
      background-color: $grey;
    }
  }


