<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="pull-left put right" style="width:50%">
                <h2 class="medium">
                    <img src="assets/images/echo/heart.png" />
                    {{'wishlist' | translate}}</h2>

            </div>
            <div class="pull-right put left" style="width:50%;">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a [routerLink]="'/home'" class="smaller">
                                <i class="fa fa-home"></i> &nbsp; {{'Home' | translate}}
                            </a> &nbsp; /
                        </li>
                        <li>
                            <a href="#" class="smaller">
                                &nbsp; {{'wishlist' | translate}}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->





<!-- section start -->
<section class="wishlist-section section-b-space">
    <div class="container">
        <div class="col-sm-12 empty-cart-cls text-center" *ngIf="!wishlist.length">
            <img src="assets/images/empty-wishlist.png" class="">
            <h3><strong>{{'Your Wishlist is Empty' | translate}}</strong></h3>
            <h4>{{'Add something to make me happy :)' | translate}}</h4>
        </div>
        <div class="row" *ngIf="wishlist.length">
            <table class="table cart-table border table-responsive-xs">
                <thead class="bg-slate-600">
                    <tr class="table-head">
                        <th class="text-white medium bg-slate-800" scope="col">{{'image' | translate}}</th>
                        <th class="text-white medium bg-slate-800" scope="col">{{'Product Name' | translate}}</th>
                        <th class="text-white medium bg-slate-800" scope="col">{{'price' | translate}}</th>
                        <th class="text-white medium bg-slate-800" scope="col">{{'Availability' | translate}}</th>
                        <th class="text-white medium bg-slate-800" scope="col">{{'Action' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of wishlist">
                        <td *ngIf="item.image">
                            <a [routerLink]="">
                                <!-- <img src="assets/images/pro3/1.jpg" alt=""> -->
                                <img (click)="currentImg = host + item?.image?.imageUrl;op1.toggle($event)"
                                    [src]="item.image ? host + item?.image?.imageUrl : defaultImageUrl"
                                    alt="{{item.name}}">
                            </a>
                        </td>
                        <td *ngIf="!item.image">
                            <a [routerLink]="">
                                <img src="assets/images/pro3/1.jpg"
                                    (click)="currentImg='assets/images/pro3/1.jpg';op1.toggle($event)" width="50"
                                    height="50" alt="">
                            </a>
                        </td>
                        <td class="small">
                            <a [routerLink]="['/home/product/', item.id]">{{item.name}}</a>
                            <div class=" mobile-cart-content row">
                                <div class="col-xs-3">
                                    <p>in stock</p>
                                </div>
                                <div class="col-xs-3">
                                    <h2 class="td-color">$63.00</h2>
                                </div>
                                <div class="col-xs-3">
                                    <h2 class="td-color">
                                        <a [routerLink]="" class="icon mr-1">
                                            <i class="ti-close"></i>
                                        </a>
                                        <a [routerLink]="" class="cart">
                                            <i class="ti-shopping-cart"></i>
                                        </a>
                                    </h2>
                                </div>
                            </div>
                        </td>
                        <td class="larg">
                            {{item.price | currency:productsService?.currency:'symbol'}}
                        </td>
                        <td class="small">
                            <ng-container [ngSwitch]="item.available">
                                <ng-container *ngSwitchCase="true">{{'In Stock' | translate }}</ng-container>
                                <ng-container *ngSwitchCase="false">{{'Not Available' | translate}}</ng-container>
                            </ng-container>
                        </td>
                        <td>
                            <a [routerLink]="" (click)="removeItem(item)" title="{{'Remove From Wishlist'|translate}}"
                                class="btn btn-icon btn-rounded btn-sm legitRipple">
                                <i class="ti-close"></i>
                            </a>

                            <a [routerLink]="" (click)="addToQuotationList(item)"
                                title="{{'Add to Quotation'|translate}}"
                                class="btn btn-icon btn-rounded btn-sm legitRipple">
                                <i class="fa fa-quote-left"></i>
                            </a>

                            <a [routerLink]="" (click)="addToCompare(item)" title="{{'Add to Compare'|translate}}"
                                class="btn btn-icon btn-rounded btn-sm legitRipple">
                                <i class="ti-reload" aria-hidden="true"></i>
                            </a>


                            <a [routerLink]="" (click)="addToCart(item)" title="{{'Add to Cart'|translate}}"
                                class="btn btn-icon btn-rounded btn-sm legitRipple">
                                <i class="ti-shopping-cart"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center" style="width:100%;margin:10px">
                <div>
                    <a [routerLink]="'/home'" class="btn btn-solid">{{'continue shopping' | translate}}</a>
                    <a [routerLink]="'/home/cart'" class="btn btn-solid">{{'checkout' | translate}}</a>
                </div>
            </div>
        </div>

    </div>
</section>
<!--section end-->
<div class="title3 container echo-margin" *ngIf="Relatedproducts.length > 0">
    <div class="title-inner3">
        <div class="pull-left put-right"><i class="fa fa-bars sidebar-bar"></i> &nbsp;{{'You May Like' | translate}}
        </div>
        <div class="pull-right put-left more">
            <a href="#">{{'Show More' | translate}} ... &gt;&gt;</a>
        </div>
    </div>
    <section class="p-t-0 section-b-space tools-grey border-box echo-border">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ngx-slick-carousel class="product-5 product-m no-arrow" #slickModal="slick-carousel"
                        [config]="productSlideConfig">
                        <div ngxSlickItem class="echo-Product" *ngFor="let product of Relatedproducts | slice:0:16">
                            <app-product-box-hover [product]="product"></app-product-box-hover>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- confirmation dialog -->
<p-confirmDialog header="{{'Confirmation' | translate}}" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-overlayPanel #op1 appendTo="body">
    <img style="max-height: 460px !important; max-width: 880px !important;" src="{{currentImg}}" alt="" />
</p-overlayPanel>