<div class="footer-title text-center">
    <span class="medium bold">{{'why we choose' | translate}}</span>
</div>
<div class="footer-contant ">
    <ul>
        <li class="small"><a [routerLink]="'/home/new-home'" class="small">{{'home' | translate}}</a></li>
        <li class="small"><a [routerLink]="'/home/portfolio'" class="small">{{'gallary' | translate}}</a></li>
        <li class="small"><a [routerLink]="'/pages/contact'" class="small">{{'contacts' | translate}}</a></li>
    </ul>
</div>