<section class="p-t-0 section-b-space gym-product echo-border">
    <div class="echo-container">
      <div class="row partition-cls">
          <div class="echo-Product" *ngFor="let product of products">
              <div class="product-box panel">
                  <product-card [product]="product"></product-card>
              </div>
          </div>
      </div>
  </div>
</section>