<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="medium"><img src="assets/images/echo/find.png" />
          &nbsp; {{'search' | translate}}</h2>

      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ul class="breadcrumb">
            <li>
              <a [routerLink]="'/home'" class="smaller">
                <i class="fa fa-home"></i> &nbsp; {{'Home' | translate}}
              </a> &nbsp; /
            </li>
            <li>
              <a href="#" class="smaller">
                &nbsp; {{'search' | translate}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->


<!-- section start -->
<section class="authentication-page section-b-space">
  <section class="search-block">

    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">


          <form class="form-header">
            <div class="form-group">
              <input type="text" (keyup)="autoComplete($event.target.value)" class="form-control" id="exampleInputSearch"
                placeholder="{{'Search a Product' | translate}}">
            </div>
            <button type="button" id="searchBtn" (click)="startSearch($event.target.value)"><i class="fa fa-search"></i></button>
          </form>


        </div>
      </div>
    </div>
  </section>


  <!-- start-loader -->
  <div *ngIf="loading" class="text-center">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>

    <div>
      {{'Loading Products' | translate}}
    </div>

  </div>
  <!-- end-loader -->

  <ng-container *ngIf="!loading">

    <div class="row">

      <div class="col-sm-12 text-center" *ngIf="!searchProducts.length">
        <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">
        <h3 class="text-center">{{"Sorry! Couldn't find the product you were looking For!!!" | translate}} </h3>
        <p class="text-center">
          {{'Please check if you have misspelt something or try searching with other words.' | translate}}</p>
        <a class="m-3" [routerLink]="'/home'" class="btn btn-solid">{{'continue shopping' | translate}}</a>
      </div>

    </div>
    <!-- product section start -->
    <section class="section-b-space" *ngIf="searchProducts.length">

      <div class="row partition-cls">
        <div class="col-sm-3" *ngFor="let product of searchProducts">
          <div class="product-box panel">
            <product-card [product]="product"></product-card>
          </div>
        </div>
      </div>






    </section>
    <!-- product section end -->
  </ng-container>
</section>
<!-- section end -->