<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="pull-left put right" style="width:50%">
                <span class="medium">
                    <img src="assets/images/echo/heart.png" />
                    {{'forget-password' | translate}}</span>

            </div>
            <div class="pull-right put left" style="width:50%;">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a [routerLink]="'/home'" class="smaller">
                                <i class="fa fa-home"></i> &nbsp; {{'Home' | translate}}
                            </a> &nbsp; /
                        </li>
                        <li><a [routerLink]="'/pages/login'" class="smaller">{{'login' | translate}}</a></li>
                        <li class="active smaller" aria-current="page">{{'forget-password' | translate}}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->



<section class="pwd-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>{{'forget-password' | translate}}</h2>
                <form class="theme-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-row">
                        <div class="col-md-12">
                            <input type="email" class="form-control" id="email"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailref="ngModel"
                                placeholder="{{'enter_your_email' | translate}}" required [(ngModel)]="userEmail"
                                name="userEmail">
                            <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)"
                                class="aler alert-danger">
                                <div [hidden]="!emailref.errors?.required">
                                    {{'common_error_required' | translate}}
                                </div>
                                <div [hidden]="!emailref.errors?.pattern">
                                    {{'InvalidEmailPattern' | translate}}
                                </div>
                            </div>
                        </div>
                        <button id="btnForgetPass" class="btn btn-solid">{{'Submit' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<ngx-spinner></ngx-spinner>