
<div class="product-box panel">
<div class="img-wrapper">
    <div class="ribbon" *ngIf='product.new'><span>new</span></div>
    <div class="front">
        <a [routerLink]="">
            <img defaultImage [src]="variantImage ? variantImage : defaultImageUrl" (error)="updateUrl($event)" class="img-fluid" alt="">
        </a>
    </div>
    <div class="cart-info cart-wrap" *ngIf="!productsService?.catalogMode">
        <a [routerLink]="" (click)="addToWishlist(product)" title="{{'Add to Wishlist'|translate}}">
            <i class="fa fa-heart" aria-hidden="true"></i>
        </a>
        <a [routerLink]="" [attr.data-target]="'#addtocart'+product.id" data-toggle="modal" (click)="addToCart(product)"
            data-placement="left" title="{{'Add to Cart'|translate}}">
            <i class="ti-shopping-cart"></i>
            </a>
        <a [routerLink]="['/home/compare']" (click)="addToCompare(product)" title="{{'Compare'|translate}}">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </a>
        <a [routerLink]="['/home/product', product.id]" title="{{'View'|translate}}">
            <i class="ti-search" aria-hidden="true"></i>
        </a>
    </div>
    <div class="quick-view-part">
        <a [routerLink]="['/home/product', product.id]" title="{{'View'|translate}}">
            <i class="ti-search" aria-hidden="true"></i>
        </a>
    </div>
</div>
<div class="product-info">
    <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
    <a [routerLink]="['/home/product', product.id]">
        <h6>{{product.name}}</h6>
    </a>

    <h4>{{product.price | currency:productsService?.currency:'symbol'}}</h4>
    <h4><del *ngIf="product?.discounted" ><span class="money">{{product.originalPriceAmount | currency:productsService?.currency:'symbol'}}</span></del></h4>

</div>
</div>
