<div class="row">
  <div class="col">
    <!-- <button *ngIf="!showReviewForm" class="btn btn-solid" type="button"
      (click)="showReviewForm=!showReviewForm">{{'AddReview' | translate}}</button> -->
  </div>
</div>

<form *ngIf="showReviewForm" class="theme-form mb-3" #reviewFrom="ngForm">
  <div class="form-row">
    <div class="col-md-12 ">
      <div class="media">
        <label>{{'Rating' | translate}} :
          <bar-rating [rate]="review.rating" [max]="5" (rateChange)="updateReviewProductRate($event)"
            [readOnly]="false">
          </bar-rating>
        </label>
      </div>
    </div>

    <div class="col-md-12">
      <label for="review">{{'Review Title' | translate}}</label>
      <input type="text" class="form-control" id="review" [(ngModel)]="review.title" name="title" #title="ngModel"
        required>
      <div *ngIf="title.errors && (title.dirty || title.touched || isSubmitted)" class="alert alert-danger">
        <div [hidden]="!title.errors.required">
          {{'Review Title' | translate}} {{ 'Is Required' | translate}}
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <label for="review">{{'ReviewBody' | translate}}</label>
      <textarea class="form-control" [(ngModel)]="review.description" name="description" #description="ngModel"
        id="exampleFormControlTextarea1" rows="6" required></textarea>
      <div *ngIf="description.errors && (description.dirty || description.touched || isSubmitted)"
        class="alert alert-danger">
        <div [hidden]="!description.errors.required">
          {{'Write Review' | translate}} {{ 'Is Required' | translate}}
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <button *ngIf="review.id == null" class="btn btn-solid" type="submit"
        (click)="addReview(reviewFrom)">{{'AddReview' | translate}}</button>
      <button *ngIf="review.id != null" class="btn btn-solid" type="submit"
        (click)="updateReview(reviewFrom)">{{'UpdateReview' | translate}}</button>
    </div>
  </div>
</form>
<!-- view reviews -->
<div class="row">
  <div class="col-sm-12">
    <ng-container *ngFor="let item of productReviews">
      <div class="card bg-light text-dark mb-3 shadow " [ngClass]="{ 'active': item.customer.id == currentCustomerId }" >
        <div class="card-body">
          <h5>{{item.title}}</h5>
          <bar-rating [rate]="item.rating" [max]="5" [readOnly]="true"></bar-rating>
          <h6>{{item?.description}}</h6>
          <div class="row">
            <div class="col-6"></div>
            <div class="col">
              <i class="fa fa-calendar"></i>
              <span class="strong">{{item.date}}</span>
            </div>
            <div class="col">
              <i class="fa fa-user"></i>
              {{'by' | translate}} :
              <span>{{item.customer.firstName}}{{item.customer.lastName}}</span>
            </div>
            <div class="col-1" *ngIf="item.customer.id == currentCustomerId">
              <i style="color: red;cursor: pointer;" (click)="removeProductReview(item)" class="fa fa-trash mx-2"></i>
              <i style="color: #63b4f2;cursor: pointer;" (click)="editProductReview(item)" class="fa fa-edit"></i>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>