<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="pull-left put right" style="width:50%">
                <h2 class="medium">
                    <img src="assets/images/echo/userAdd.png" />
                    {{'create Account' | translate}}</h2>

            </div>
            <div class="pull-right put left" style="width:50%;">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a [routerLink]="'/home'" class="smaller">
                                <i class="fa fa-home"></i> &nbsp; {{'Home' | translate}}
                            </a> &nbsp; /
                        </li>
                        <li>
                            <a href="#" class="smaller">
                                &nbsp; {{'create Account' | translate}}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->




<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>{{'create Account' | translate}}</h3>
                <div class="theme-card">
                    <form [formGroup]="register" class="theme-form">
                        <div formGroupName="billing">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback has-feedback-left">
                                        <label for="fname">{{'First Name' | translate}}</label>
                                        <span class="required">*</span>
                                        <input appLetterOnly type="text" class="form-control"
                                            formControlName="firstName" id="fname"
                                            placeholder="{{'First Name' | translate}}" required=""
                                            [ngClass]="{ 'is-invalid': submitted && regBillingControls.firstName.errors }">
                                        <div *ngIf="submitted && regBillingControls.firstName.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="regBillingControls.firstName.errors.required">{{'First Name' |
                                                translate}} {{'Is Required' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback has-feedback-left">
                                        <label for="lname">{{'Last Name' | translate}}</label>
                                        <span class="required">*</span>
                                        <input appLetterOnly type="text" class="form-control" formControlName="lastName"
                                            id="lname" placeholder="{{'Last Name' | translate}}" required=""
                                            [ngClass]="{ 'is-invalid': submitted && regBillingControls.lastName.errors }">
                                        <div *ngIf="submitted && regBillingControls.lastName.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="regBillingControls.lastName.errors.required">{{'Last Name' |
                                                translate}} {{'Is Required' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback has-feedback-left">
                                        <label for="country">{{'Country' | translate}}</label>
                                        <span class="required">*</span>
                                        <select id="country" class="form-control" (change)="countryChanged()"
                                            formControlName="country"
                                            [ngClass]="{ 'is-invalid': submitted && regBillingControls.country.errors }">
                                            <option *ngFor="let cntry of countries" [ngValue]="cntry.code">{{
                                                cntry.name | translate }}</option>
                                        </select>
                                        <div *ngIf="submitted && regBillingControls.country.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="regBillingControls.country.errors.required">{{'Country' |
                                                translate}} {{'Is Required' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback has-feedback-left">
                                        <label for="stateProvince">{{'State / province' | translate}}</label>
                                        <span class="required">*</span>
                                        <input *ngIf="!zones || zones.length === 0" type="text" class="form-control"
                                            formControlName="stateProvince" id="stateProvince" required=""
                                            [ngClass]="{ 'is-invalid': submitted && regBillingControls.stateProvince.errors }">
                                        <select *ngIf="zones && zones.length > 0" id="stateProvince-Sel"
                                            class="form-control" formControlName="stateProvince"
                                            [ngClass]="{ 'is-invalid': submitted && regBillingControls.stateProvince.errors }">
                                            <option *ngFor="let zn of zones" [ngValue]="zn.code">{{
                                                zn.name | translate}}</option>
                                        </select>
                                        <div *ngIf="submitted && regBillingControls.stateProvince.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="regBillingControls.stateProvince.errors.required">{{'State /
                                                province' | translate}} {{'Is Required' | translate}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback has-feedback-left">
                                    <label for="clearPassword">{{'Password' | translate}}</label>
                                    <span class="required">*</span>
                                    <input type="password" class="form-control" formControlName="clearPassword"
                                        id="clearPassword" placeholder="{{'Password' | translate}}" required=""
                                        [ngClass]="{ 'is-invalid': submitted && regControls.clearPassword.errors }">
                                    <div *ngIf="submitted && regControls.clearPassword.errors" class="invalid-feedback">
                                        <div *ngIf="regControls.clearPassword.errors.required">{{'Password' |
                                            translate}} {{'Is Required' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-feedback has-feedback-left">
                                    <label for="checkPassword">{{'Confirm Password' | translate}}</label>
                                    <span class="required">*</span>
                                    <input type="password" class="form-control" formControlName="checkPassword"
                                        id="checkPassword" placeholder="{{'Confirm Password' | translate}}" required=""
                                        [ngClass]="{ 'is-invalid': submitted && regControls.checkPassword.errors }">
                                    <div *ngIf="submitted && regControls.checkPassword.errors" class="invalid-feedback">
                                        <div *ngIf="regControls.checkPassword.errors.required">{{'Confirm Password' |
                                            translate}} {{'Is Required' | translate}}</div>
                                        <div *ngIf="regControls.checkPassword.errors.notEquivalent">{{'Confirm
                                            Password' | translate}} {{'Not Equal' | translate}}</div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group has-feedback has-feedback-left">
                                    <label for="email">{{'Email' | translate}}</label>
                                    <span class="required">*</span>
                                    <input type="text" class="form-control" formControlName="emailAddress"
                                        id="emailAddress" placeholder="{{'Email' | translate}}" required=""
                                        [ngClass]="{ 'is-invalid': submitted && regControls.emailAddress.errors }">
                                    <input type="hidden" class="form-control" formControlName="userName" id="userName">
                                    <div *ngIf="submitted && regControls.emailAddress.errors" class="invalid-feedback">
                                        <div *ngIf="regControls.emailAddress.errors.required">{{'Email' | translate}}
                                            {{'Is Required' | translate}}</div>
                                        <div *ngIf="regControls.emailAddress.errors.email">{{'Email' | translate}}
                                            {{'Is Not Valid' | translate}}</div>
                                        <div *ngIf="regControls.emailAddress.errors.preExists">{{'User already exist' |
                                            translate}}</div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="checkbox-inline">
                                    <input type="checkbox" formControlName="subscribeInNewsLetter" class="styled"
                                        checked="checked" class="px-2">
                                    {{'subscribeInNewsLetter' | translate}}
                                </label>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col-md-12">
                                <label class="checkbox-inline">
                                    <input type="checkbox" formControlName="privacy" class="styled" checked="checked"
                                        class="px-2">
                                    {{'approveForPrivacyPolicy' | translate}}
                                </label>
                                <a style="color: #f24b3c !important;cursor: pointer !important;" class="px-2"
                                    (click)="showDialog()">{{'readPrivacyPolicy' | translate}}</a>
                            </div>
                            <div class="col-md-12">
                                <div *ngIf="submitted && regControls.privacy.errors" class="invalid-feedback">
                                    <div *ngIf="regControls.privacy.errors.agreed">{{'mustAgreePrivacy' |
                                                translate}}</div>
                                </div>
                            </div>
                        </div>



                        <div class="form-row">
                            <button id="register_createAccount" class="btn btn-solid" (click)="registerCustomer()">{{'create
                                Account' | translate}}</button>
                            <div class="col-md-6"></div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->

<ngx-spinner></ngx-spinner>

<p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '550px', minWidth: '200px'}"
    [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <p-header>
        سياسة الخصوصية شوب.كوم
    </p-header>
    مقدمة

    تعنى (سياسة الخصوصية) لدينا بطريقة جمعنا وحفظنا واستخدامنا وطريقة حماية معلوماتك الشخصية ومن المهم ان تقوم بالإطلاع
    سياسة الخصوصية هذه. ونقصد بالمعلومات الشخصية هي المعلومات التي ترتبط بشخص معين والتي تستخدم في التعريف عنه.
    نحن لا نأخذ بعين الاعتبار أي معلومات مجهولة المصدر لانها لا تصلح في تشكيل معلومات شخصية ولكننا نقوم بجمع المعلومات
    الشخصية من الراغبين بإستخدام موقع سوق.كوم com او صفحات الانترنت المرتبطة (بما في ذلك وعلى سبيل الحصر بيعك وشرائك
    لبضائع او حين تتصل هاتفيا او بواسطة البريد الالكتروني بفريق مركز دعم المستخدمين لدينا). وبمجرد تزويدك لنا بمعلوماتك
    الشخصية تكون قد فوضتنا لمعالجة هذه المعلومات وفق بنود وشروط (سياسة الخصوصية) .
    قد نقوم بتعديل (سياسة الخصوصية) في اي وقت وذلك من خلال الإعلان عن هذا التعديل بنشر النسخة المعدلة على الموقع. وتكون
    النسخة المعدلة من (سياسة الخصوصية) سارية المفعول اعتبارا من تاريخ نشرها. في اعقاب النشر يعتبر استمرارك في استخدام
    الموقع موافقة منك بالشروط والبنود الواردة في النسخة المعدلة لطريقة معالجتنا وتعاملنا مع معلوماتك الشخصية التي كنت قد
    زودتنا بها.
    نأمل منكم الإطلاع على الموقع من حين لأخر للإعلانات عن اية تعديلات على سياسة الخصوصية.


    تغطي (سياسة الخصوصية) المواضيع التالية:

    جمعنا لمعلوماتك الشخصية
    إستخدامنا لمعلوماتك الشخصية
    استخدامك لمعلوماتك الشخصية ومعلومات المستخدمين الاخرين
    إستخدام ودخول وتصفح وتعديل معلوماتك الشخصية
    روابط مواقع الطرف الثالث
    6. ملفات تعريف الارتباط Cookies
    7. لا للرسائل الالكترونية المضللة او الخادعة
    حماية معلوماتك الشخصية
    كيف يمكنك الاتصال بنا للاستفسار عن (سياسة الخصوصية)


    استخدامك لمعلوماتك الشخصية ومعلومات المستخدمين الاخرين

    قد يحتاج الأعضاء في مشاركة المعلومات الشخصية (بما في ذلك المعلومات المالية) مع بعضهم البعض بهدف استكمال عمليات على
    الموقع. وعليك ان تحترم في جميع الاوقات سرية الاعضاء الاخرين في الموقع.
    نحن لا نضمن سرية معلوماتك حين تشارك بها اعضاء في مواقع اخرى، لذا عليك طلب معلومات حول سياسة الخصوصية لهذه المواقع
    قبل مباشرتك بتزويدهم بأي بيانات معلومات شخصية .
    لا تغطي سياسة الخصوصية هذه افصاحك لمعلوماتك الشخصية لعضو في موقع اخر.
    توافق على انك لن تستخدم المعلومات الشخصية التي وردتك من الموقع عن أي عضو في موقع اخر وفقا للقوانين المعمول بها في
    هذه الوثيقة.
    تقر وتوافق بأنه عليك إستخدام المعلومات الشخصية التي وردتك من المستخدمين لمواقع اخرى وفقا للقوانين المعمول بها.


    إستخدام ودخول وتصفح وتعديل معلوماتك الشخصية

    باستطاعتك الوصول ومراجعة معلوماتك الشخصية من خلال صفحة إدارة "حسابي"على الموقع، فاذا تغيرت معلوماتك الشخصية باي
    طريقة او اعطيت معلومات غير صحيحة على الموقع فعليك القيام بتحديثها او تصحيحها حالا، اما من خلال عرضها على "حسابي" او
    من خلال الاتصال بفريق خدمة العملاء. يحتوي الرابط الخاص ب " دعم العملاء" والموجود في أعلى كل صفحة على البريد
    الإلكتروني ورقم الهاتف الخاص بهذا القسم.
    يرجى العلم أننا سوف نحتفظ بمعلوماتك الشخصية خلال وبعد انتهائك من استخدام الموقع بحسب ما هو مطلوب قانونا، وذلك بهدف
    التغلب على العوائق التقنية ,ولمنع الاحتيال، و للمساعدة في اي تحقيق قانوني ولاتخاذ اي اجراءات اخرى ينص عليها القانون.



    ملفات تعريف الارتباط

    مثل العديد من مواقع الانترنت فان موقعنا يستخدم ملفات تعريف الإرتباط وهي ملفات حاسوب صغيرة يتم تثبيتها على الجزء
    الصلب من حاسوبك، فحين تذهب لزيارة صفحات انترنت معينة على الموقع, تتعرف السجل على المتصفح الخاص بك من خلال رقم فريد
    وعشوائي.
    كما ان ملفات تعريف الإرتباط التي نستخدمها لا تكشف اي من معلوماتك الشخصية.ان ملفات تعريف الإرتباط هذه تساعدنا في
    تحسين ادائك على الموقع وتعيننا على تفهم اي اجزاء من الموقع هي الاكثر استخداما,انت لك مطلق الحرية في الغاء هذه ملفات
    تعريف الإرتباط اذا أتيح لك ذلك من المتصفح ولا يؤثر ذلك على استخدامك للموقع.



    حماية معلوماتك الشخصية

    عند تزودنا بمعلوماتك الشخصية تكون قد وافقت على نقل هذه المعلومات خارج دولة مصر، ونحن نتخذ كافة الاحتياطات للمحافظة
    على معلوماتك وذلك بعدم الوصول اليها او استخدامها او الافصاح عنها بشكل غير مخول.
    كافة المعلومات الشخصية مشفرة، وعلى اي حال فان الانترنت وسيلة غير امنة ونحن لا نضمن سرية معلوماتك الشخصية.
    يجب ان يتم ادخال اسم المستخدام وكلمة السر في كل مرة عند الدخول الى حسابك أو القيام باية معامللات في الموقع.
    يجب ان يتم اختيار كلمة السر بحذر باستخدام ارقام وحروف واشكال مميزة.
    لا تشارك اسم المستخدم وكلمة السر مع اي احد.
    6. في حال كان لديك شك حول اختراق اسم المستخدم وكلمة السر، يرجى على الفور الاتصال بفريق خدمة العملاء والعمل على تغيير
    كلمة السر وذلك بالدخول الى قسم حسابي على الموقع.


    كيف تتصل بنا للاستفسار بخصوص (سياسة الخصوصية)

    اذا كان لديك اسئلة او اهتمامات حول جمعنا واستخدامنا لمعلوماتك الشخصية ,الرجاء الاتصال بفريق خدمة العملاء على رابط
    "دعم العملاء" في أعلى أي أي صفحة ويب خاصة على الموقع.

    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="display=false" label="إغلاق"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>