
<!-- breadcrumb start -->
<div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                        <h2 class="medium"><img src="assets/images/echo/home.png" /> 
                          &nbsp; {{'Dashboard' | translate}}</h2>
                   
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ul class="breadcrumb">
                            <li>
                                    <a [routerLink]="'/home'" class="smaller">
                                    <i class="fa fa-home"></i> &nbsp; {{'Home' | translate}}
                                </a> &nbsp; /
                            </li>
                            <li>
                                    <a href="#" class="smaller">
                                         &nbsp; {{'Dashboard' | translate}}
                                    </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->






<!-- section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="account-sidebar">
                    <a class="popup-btn">
                        my account
                    </a>
                </div>
                <div class="dashboard-left">
                    <div class="collection-mobile-back">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true"></i> {{'back' | translate}}
                        </span>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li (click)="currentSection='accountInfo'"
                                [ngClass]="{'active' : currentSection=='accountInfo'}"><a
                                    [routerLink]="">{{'Account Info' | translate}}</a></li>
                            <li (click)="currentSection='addressBook'"
                                [ngClass]="{'active' : currentSection=='addressBook'}"><a
                                    [routerLink]="">{{'Address Book' | translate}}</a></li>
                            <li (click)="currentSection='myOrders'" [ngClass]="{'active' : currentSection=='myOrders'}">
                                <a [routerLink]="">{{'My Orders' | translate}}</a>
                            </li>
                            <li (click)="currentSection='showPrice'"
                                [ngClass]="{'active' : currentSection=='showPrice'}"><a
                                    [routerLink]="">{{'Quotations'  | translate}}</a></li>
                            <!-- <li (click)="currentSection='newsletter'"
                                [ngClass]="{'active' : currentSection=='newsletter'}"><a
                                    [routerLink]="">{{'Newsletter' | translate}}</a></li>
                             <li (click)="currentSection='myAccount'"
                                [ngClass]="{'active' : currentSection=='myAccount'}"><a
                                    [routerLink]="">{{'My Account' | translate}}</a>
                            </li> -->
                            <li (click)="currentSection='changePassword'"
                                [ngClass]="{'active' : currentSection=='changePassword'}"><a
                                    [routerLink]="">{{'Change Password' | translate}}</a></li>
                            <li (click)="logout()" class="last"><a [routerLink]="">{{'Log Out' | translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">

                <!-- info -->
                <div *ngIf="currentSection=='accountInfo'" class="dashboard-right">
                    <div class="dashboard">
                        <div class="page-title">
                            <h2>{{'Dashboard'  | translate}}</h2>
                        </div>
                        <div class="welcome-msg">
                            <p>{{'fullname' | translate}} : </p>
                            <span>{{userInfo.firstName}} {{userInfo.lastName}}</span>
                            <a (click)="displayfullNameForm = !displayfullNameForm;prepareFullNameChange()"
                                [routerLink]=""><i class="ti-pencil icon-shop"></i></a>
                            <div *ngIf="displayfullNameForm" class="line-glow">
                                <form name="form" #f="ngForm" novalidate>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" minlength="2" maxlength="20"
                                                [ngClass]="{ 'is-invalid': fname.invalid }" required #fname="ngModel"
                                                name="fname" [(ngModel)]="fullNameModel.fname" class="form-control"
                                                placeholder="{{'First name' | translate}}">
                                        </div>
                                        <div class="col">
                                            <input type="text" minlength="2" maxlength="20"
                                                [ngClass]="{ 'is-invalid': lname.invalid }" required #lname="ngModel"
                                                name="lname" [(ngModel)]="fullNameModel.lname" class="form-control"
                                                placeholder="{{'Last name' | translate}}">
                                        </div>
                                        <div class="col">
                                            <button type="button" [disabled]="!f.form.valid"
                                                (click)="f.form.valid && updateFullName();displayfullNameForm = !displayfullNameForm"
                                                class="btn btn-solid">{{'Save' | translate}}</button>
                                        </div>
                                        <div class="col-1">
                                            <i (click)="displayfullNameForm = !displayfullNameForm"
                                                class="ti-close icon-shop"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--<p>From your My Account Dashboard you have the ability to view a snapshot of your recent
                                account activity and update your account information. Select a link below to view or
                                edit information.</p> -->
                        </div>
                        <div class="box-account box-info">
                            <div class="box-head">
                                <h2>{{'Account Information' | translate}}</h2>
                            </div>
                            <div class="row">

                                <div class="col-sm-6">
                                    <div class="box">
                                        <div class="box-title">
                                            <h3>{{'Contact Information' | translate}}</h3>
                                            <!--  <a (click)="displayEmailAddressForm = !displayEmailAddressForm;prepareEmailAddressChange()"
                                                [routerLink]="">{{'Edit' | translate}}</a> -->
                                        </div>
                                        <div class="box-content">
                                            <!-- <h6>{{userInfo.firstName}} {{userInfo.lastName}}</h6> -->
                                            <h6>{{userInfo.emailAddress}}
                                                <a (click)="displayEmailAddressForm = !displayEmailAddressForm;prepareEmailAddressChange()"
                                                    [routerLink]=""><i class="ti-pencil icon-shop"></i></a>
                                            </h6>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="box">
                                        <div class="box-title">
                                            <h3>{{'Newsletters' | translate}}</h3>
                                            <!--<a [routerLink]="">{{'Edit' | translate}}</a> -->
                                        </div>
                                        <div class="box-content">
                                            <p>
                                                <a [routerLink]=""><i class="ti-pencil icon-shop"></i></a>
                                                {{'You are currently not subscribed to any newsletter' | translate}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div *ngIf="displayEmailAddressForm" class="col-sm-12 line-glow">
                                    <form #f2="ngForm" novalidate>
                                        <div class="row">
                                            <div class="col">
                                                <input type="text" minlength="7" maxlength="50"
                                                    [ngClass]="{ 'is-invalid': email.invalid }" required
                                                    #email="ngModel" name="email" [(ngModel)]="emailAddress"
                                                    class="form-control" placeholder="{{'Email Address' | translate}}">
                                            </div>
                                            <div class="col">
                                                <button type="button" [disabled]="!f2.form.valid"
                                                    (click)="f2.form.valid && updateEmailAddress();displayEmailAddressForm = !displayEmailAddressForm"
                                                    class="btn btn-solid">{{'Save' | translate}}</button>
                                            </div>
                                            <div class="col-1">
                                                <i (click)="displayEmailAddressForm = !displayEmailAddressForm"
                                                    class="ti-close icon-shop"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-sm-12">
                                        <h6><a [routerLink]="['/account']" [queryParams]="{ section: 'changePassword'}">{{'Change Password' | translate}}</a>
                                        </h6>
                                </div>
                            </div> -->
                            <div class="box">
                                <div class="box-title">
                                    <h3>{{'Address Book' | translate}}</h3>
                                    <!-- <a [routerLink]="">{{'Manage Addresses' | translate}}</a> -->
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h6>
                                            <a (click)="currentSection='addressBook'" [routerLink]=""><i
                                                    class="ti-pencil icon-shop"></i></a>
                                            {{'Default Billing Address' | translate}}</h6>
                                        <address>
                                            {{userInfo.billing && userInfo.billing.address}}<br>

                                        </address>
                                    </div>
                                    <div class="col-sm-6">
                                        <h6>
                                            <a (click)="currentSection='addressBook'" [routerLink]=""><i
                                                    class="ti-pencil icon-shop"></i></a>
                                            {{'Default Shipping Address' | translate}}</h6>
                                        <address>
                                            {{userInfo.delivery && userInfo.delivery.address}}<br>

                                        </address>
                                    </div>
                                </div>
                            </div>



                            <div class="box">
                                <div class="box-title">
                                    <h3>
                                        <a (click)="displayLanguageForm = !displayLanguageForm;prepareDefaultLanguage()"
                                            [routerLink]=""><i class="ti-pencil icon-shop"></i></a>
                                        {{'defaultLanguage' | translate}}</h3>

                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <address *ngIf="!displayLanguageForm">
                                            {{userInfo && userInfo.language | translate}}<br>

                                        </address>
                                    </div>
                                </div>
                                <div class="row">
                                    <div *ngIf="displayLanguageForm" class="col-sm-12 line-glow">
                                        <form #f3="ngForm" novalidate>
                                            <div class="row">
                                                <div class="col">
                                                    <select name="defaultLang" [(ngModel)]="defaultLang"
                                                        class="form-control">
                                                        <option value="en">{{'English' | translate}}</option>
                                                        <option value="ar">{{'Arabic' | translate}}</option>
                                                        <option value="fr">{{'French' | translate}}</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <button type="button" [disabled]="!f3.form.valid"
                                                        (click)="f3.form.dirty && updateDefaultLanguage();displayLanguageForm = !displayLanguageForm"
                                                        class="btn btn-solid">{{'Save' | translate}}</button>
                                                </div>
                                                <div class="col-1">
                                                    <i (click)="displayLanguageForm = !displayLanguageForm"
                                                        class="ti-close icon-shop"></i>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- address -->
                <div *ngIf="currentSection=='addressBook'" class="dashboard-right">
                    <div class="dashboard">

                        <div class="box-account box-info">

                            <!--dynamic form hear -->
                            <!-- <h4>{{'Default Billing Address' | translate}}</h4>
                            <app-dynamic-form *ngIf="billingFields && billingFields.length > 0" [fields]="billingFields"
                                [formData]="userInfo.billing" [funcs]="funcs" (outData)="feedBack($event)">
                            </app-dynamic-form> -->

                            <div class="row margin-cls" *ngIf="showBillingData">
                                <div class="col-12">
                                    <div class="stripe-section">
                                        <div class="box">
                                            <div class="box-title">
                                                <h3>{{'Billing Details' | translate}}</h3>
                                                <a class="ti-pencil icon-shop" (click)="startEditMode('billing')"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <table>
                                                <tr>
                                                    <td>{{'First Name' | translate}}</td>
                                                    <td>{{userInfo.billing.firstName}}</td>
                                                    <td class="mx-2"></td>
                                                    <td>{{'Last Name' | translate}}</td>
                                                    <td>{{userInfo.billing.lastName}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{'Country' | translate}}</td>
                                                    <td>{{userInfo.billing.country}}</td>
                                                    <td class="mx-2"></td>
                                                    <td>{{'Address' | translate}}</td>
                                                    <td>{{userInfo.billing.address}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{'Town/City' | translate}}</td>
                                                    <td>{{userInfo.billing.city}}</td>
                                                    <td class="mx-2"></td>
                                                    <td>{{'Postal Code' | translate}}</td>
                                                    <td>{{userInfo.billing.postalCode}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row margin-cls" *ngIf="showShippingData">
                                <div class="col-12">
                                    <div class="stripe-section">
                                        <div class="box">
                                            <div class="box-title">
                                                <h3>{{'shippinginformation' | translate}}</h3>
                                                <a class="ti-pencil icon-shop" (click)="startEditMode('shipping')"></a>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <table>
                                                <tr>
                                                    <td>{{'First Name' | translate}}</td>
                                                    <td>{{userInfo.delivery.firstName}}</td>
                                                    <td class="mx-2"></td>
                                                    <td>{{'Last Name' | translate}}</td>
                                                    <td>{{userInfo.delivery.lastName}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{'Country' | translate}}</td>
                                                    <td>{{userInfo.delivery.country}}</td>
                                                    <td class="mx-2"></td>
                                                    <td>{{'Address' | translate}}</td>
                                                    <td>{{userInfo.delivery.address}}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{'Town/City' | translate}}</td>
                                                    <td>{{userInfo.delivery.city}}</td>
                                                    <td class="mx-2"></td>
                                                    <td>{{'Postal Code' | translate}}</td>
                                                    <td>{{userInfo.delivery.postalCode}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <section *ngIf="showBillingForm" class="section-b-space">
                                <div class="container padding-cls">
                                    <div class="checkout-page">
                                        <div class="checkout-form">
                                            <form class="theme-form" [formGroup]="billingForm"
                                                (ngSubmit)="saveBillingData();">

                                                <div class="row">
                                                    <div class="checkout-title col-md-12 col-sm-12 col-xs-12">
                                                        <div class="box">
                                                            <div class="box-title">
                                                                <h3>{{'Billing Details' | translate}}</h3>
                                                                <a class="ti-close icon-shop"
                                                                    (click)="endEditMode('billing')"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">{{'First Name' | translate}}
                                                        </div>
                                                        <input type="text" name="firstName"
                                                            [formControl]="billingForm.controls['firstName']" value=""
                                                            placeholder="" autocomplete="off">
                                                        <div *ngIf="submitted && billingForm.controls.firstName.errors">
                                                            <div *ngIf="billingForm.controls.firstName.errors?.required"
                                                                class="text text-danger">{{'First Name' | translate}}
                                                                {{'Is Required' | translate}}</div>
                                                            <div *ngIf="billingForm.controls.firstName.errors?.pattern"
                                                                class="text text-danger">
                                                                {{'First Name' | translate}}
                                                                {{'must be an alphabates' | translate}}
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">{{'Last Name' | translate}}
                                                        </div>
                                                        <input type="text" name="lastName"
                                                            [formControl]="billingForm.controls['lastName']" value=""
                                                            placeholder="" autocomplete="off">
                                                        <div *ngIf="submitted && billingForm.controls.lastName.errors">
                                                            <div *ngIf="billingForm.controls.lastName.errors?.required"
                                                                class="text text-danger">{{'Last Name' | translate}}
                                                                {{'Is Required' | translate}}</div>
                                                            <div *ngIf="billingForm.controls.lastName.errors?.pattern"
                                                                class="text text-danger">
                                                                {{'Last Name' | translate}}
                                                                {{'must be an alphabates' | translate}}
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">{{'Phone No' | translate}}
                                                        </div>
                                                        <input type="text" name="phone"
                                                            [formControl]="billingForm.controls['phone']" value=""
                                                            placeholder="" autocomplete="off">

                                                        <div *ngIf="submitted && billingForm.controls.phone.errors">
                                                            <div *ngIf="billingForm.controls.phone.errors?.required"
                                                                class="text text-danger">{{'Phone No' | translate}}
                                                                {{'Is Required' | translate}}</div>
                                                            <div *ngIf="billingForm.controls.phone.errors?.pattern"
                                                                class="text text-danger">
                                                                {{'Phone No' | translate}}
                                                                {{'is must be number' | translate}}
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">{{'Country' | translate}}</div>
                                                        <select name="country"
                                                            [formControl]="billingForm.controls['country']">
                                                            <option value="" selected>{{'Select'}}</option>
                                                            <option *ngFor="let country of countries"
                                                                [ngValue]="country.code">{{
                                                                                    country.name | translate }}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="submitted && billingForm.controls.country.errors?.required"
                                                            class="text text-danger">
                                                            {{'Country' | translate}}
                                                            {{'Is Required' | translate}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">{{'Address' | translate}}</div>
                                                        <input type="text" name="address"
                                                            [formControl]="billingForm.controls['address']" value=""
                                                            placeholder="" autocomplete="off">
                                                        <div *ngIf="submitted && billingForm.controls.address.errors">
                                                            <div *ngIf="billingForm.controls.address.errors?.required"
                                                                class="text text-danger">
                                                                {{'Address' | translate}}
                                                                {{'Is Required' | translate}}
                                                            </div>
                                                            <div *ngIf="billingForm.controls.address.errors?.maxlength"
                                                                class="text text-danger">
                                                                {{'Maximum 50 character' | translate}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">{{'Town/City' | translate}}
                                                        </div>
                                                        <input type="text" name="city"
                                                            [formControl]="billingForm.controls['city']" value=""
                                                            placeholder="" autocomplete="off">
                                                        <div *ngIf="submitted && billingForm.controls.city.errors?.required"
                                                            class="text text-danger">
                                                            {{'Town/City' | translate}}
                                                            {{'Is Required' | translate}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">{{'Postal Code' | translate}}
                                                        </div>
                                                        <input type="text" name="postalCode"
                                                            [formControl]="billingForm.controls['postalCode']" value=""
                                                            placeholder="" autocomplete="off">
                                                        <div *ngIf="submitted && billingForm.controls.postalCode.errors?.required"
                                                            class="text text-danger">
                                                            {{'Postal Code' | translate}}
                                                            {{'Is Required' | translate}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">&nbsp;</div>
                                                        <button class="btn btn-solid ">{{'Save' | translate}}</button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <section *ngIf="showShippingForm" class="section-b-space">
                                <div class="container padding-cls">
                                    <div class="checkout-page">
                                        <div class="checkout-form">
                                            <form class="theme-form" [formGroup]="shippingForm"
                                                (ngSubmit)="saveshippingData();">
                                                <div class="row">
                                                    <div class="checkout-title col-md-12 col-sm-12 col-xs-12">
                                                        <div class="box">
                                                            <div class="box-title">
                                                                <h3>{{'shippinginformation' | translate}}</h3>
                                                                <a class="ti-close icon-shop"
                                                                    (click)="endEditMode('shipping')"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">{{'First Name' | translate}}
                                                        </div>
                                                        <input type="text" name="firstName"
                                                            [formControl]="shippingForm.controls['firstName']" value=""
                                                            placeholder="" autocomplete="off">
                                                        <div
                                                            *ngIf="submitted && shippingForm.controls.firstName.errors">
                                                            <div *ngIf="shippingForm.controls.firstName.errors?.required"
                                                                class="text text-danger">{{'First Name' | translate}}
                                                                {{'Is Required' | translate}}</div>
                                                            <div *ngIf="shippingForm.controls.firstName.errors?.pattern"
                                                                class="text text-danger">
                                                                {{'First Name' | translate}}
                                                                {{'must be an alphabates' | translate}}
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">{{'Last Name' | translate}}
                                                        </div>
                                                        <input type="text" name="lastName"
                                                            [formControl]="shippingForm.controls['lastName']" value=""
                                                            placeholder="" autocomplete="off">
                                                        <div *ngIf="submitted && shippingForm.controls.lastName.errors">
                                                            <div *ngIf="shippingForm.controls.lastName.errors?.required"
                                                                class="text text-danger">{{'Last Name' | translate}}
                                                                {{'Is Required' | translate}}</div>
                                                            <div *ngIf="shippingForm.controls.lastName.errors?.pattern"
                                                                class="text text-danger">
                                                                {{'Last Name' | translate}}
                                                                {{'must be an alphabates' | translate}}
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">{{'Phone No' | translate}}
                                                        </div>
                                                        <input type="text" name="phone"
                                                            [formControl]="shippingForm.controls['phone']" value=""
                                                            placeholder="" autocomplete="off">

                                                        <div *ngIf="submitted && shippingForm.controls.phone.errors">
                                                            <div *ngIf="shippingForm.controls.phone.errors?.required"
                                                                class="text text-danger">{{'Phone No' | translate}}
                                                                {{'Is Required' | translate}}</div>
                                                            <div *ngIf="shippingForm.controls.phone.errors?.pattern"
                                                                class="text text-danger">
                                                                {{'Phone No' | translate}}
                                                                {{'is must be number' | translate}}
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">{{'Country' | translate}}</div>
                                                        <select name="country"
                                                            [formControl]="shippingForm.controls['country']">
                                                            <option value="" selected>{{'Select'}}</option>
                                                            <option *ngFor="let country of countries"
                                                                [ngValue]="country.code">{{
                                                                                    country.name | translate }}
                                                            </option>
                                                        </select>
                                                        <div *ngIf="submitted && shippingForm.controls.country.errors?.required"
                                                            class="text text-danger">
                                                            {{'Country' | translate}}
                                                            {{'Is Required' | translate}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">{{'Address' | translate}}</div>
                                                        <input type="text" name="address"
                                                            [formControl]="shippingForm.controls['address']" value=""
                                                            placeholder="" autocomplete="off">
                                                        <div *ngIf="submitted && shippingForm.controls.address.errors">
                                                            <div *ngIf="shippingForm.controls.address.errors?.required"
                                                                class="text text-danger">
                                                                {{'Address' | translate}}
                                                                {{'Is Required' | translate}}
                                                            </div>
                                                            <div *ngIf="shippingForm.controls.address.errors?.maxlength"
                                                                class="text text-danger">
                                                                {{'Maximum 50 character' | translate}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">{{'Town/City' | translate}}
                                                        </div>
                                                        <input type="text" name="city"
                                                            [formControl]="shippingForm.controls['city']" value=""
                                                            placeholder="" autocomplete="off">
                                                        <div *ngIf="submitted && shippingForm.controls.city.errors?.required"
                                                            class="text text-danger">
                                                            {{'Town/City' | translate}}
                                                            {{'Is Required' | translate}}
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">{{'Postal Code' | translate}}
                                                        </div>
                                                        <input type="text" name="postalCode"
                                                            [formControl]="shippingForm.controls['postalCode']" value=""
                                                            placeholder="" autocomplete="off">
                                                        <div *ngIf="submitted && shippingForm.controls.postalCode.errors?.required"
                                                            class="text text-danger">
                                                            {{'Postal Code' | translate}}
                                                            {{'Is Required' | translate}}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div class="field-label">&nbsp;</div>
                                                        <button class="btn btn-solid ">{{'Save' | translate}}</button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>
                    </div>
                </div>

                <!-- orders -->
                <div *ngIf="currentSection=='myOrders'" class="dashboard-right">
                    <div class="dashboard" *ngIf="customerOrders && customerOrders.length > 0">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table cart-table table-responsive-xs">
                                    <thead>
                                        <tr class="table-head">
                                            <th scope="col">{{'OrderId' | translate}}</th>
                                            <th scope="col">{{'Status' | translate}}</th>
                                            <th scope="col">{{'total' | translate}}</th>
                                            <th scope="col">{{'paymentType' | translate}}</th>
                                            <th scope="col">{{'Actions' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of customerOrders">
                                            <td>
                                                {{item.id}}
                                            </td>
                                            <td>
                                                {{item.orderStatus}}
                                            </td>
                                            <td>
                                                {{item.orderTotal}}
                                            </td>
                                            <td>
                                                {{item.paymentType}}
                                            </td>
                                            <td>
                                                <div style="cursor: pointer !important" class="box box-title">
                                                    <a href="JavaScript:void(0);"
                                                        (click)="displayOrder=true;currentOrder=item">{{'orderDetails' | translate}}</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>
                    <div class="dashboard text-center" *ngIf="!customerOrders || customerOrders.length == 0">
                        <h4>{{'emptyData' | translate}}</h4>
                    </div>
                </div>

                <!-- show prices -->
                <div *ngIf="currentSection=='showPrice'" class="dashboard-right">
                    <div class="dashboard">
                        <div class="page-title">
                            <h2>{{'Quotations'  | translate}}</h2>
                        </div>
                        <app-show-price></app-show-price>

                    </div>
                    <!-- <div class="dashboard text-center" *ngIf="!customerOrders || customerOrders.length == 0">
                        <h4>{{'emptyData' | translate}}</h4>
                    </div> -->
                </div>

                <!-- changePassword -->
                <div *ngIf="currentSection=='changePassword'" class="dashboard-right">
                    <div class="dashboard">
                        <h4>{{'Change Password' | translate}}</h4>
                        <button type="button" (click)="changePassword()"
                            class="btn btn-solid">{{'Change Password' | translate}}</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- section end -->
<ngx-spinner></ngx-spinner>












<p-dialog [(visible)]="displayOrder" class="ui-rtl" dir="rtl">
    <p-header>

    </p-header>
    <app-orders-details-view *ngIf="displayOrder" [order]="currentOrder"></app-orders-details-view>
</p-dialog>