<div class="row m-3">
  <div class="col card">
    <div class="row card-header">
      <div class="col">
        <span>
          <p>{{'Featured Products' | translate}}</p>
        </span>
      </div>
    </div>
    <div class="row card-body">
      <div class="col-3" *ngFor="let product of products | slice:0:8">
        <div class="product-box">
          <product-card [product]="product"></product-card>
        </div>
      </div>
    </div>

    <div class="row card-footer">
      <div class="col">
        <a href="#">{{'more products' | translate}} >></a>
      </div>
    </div>
  </div>
</div>