.card-header{
    background-color: #ff4c3b !important;
}
.card-header p{
    color: #ffffff !important;
}

.card-footer{
    background-color: #ff4c3b !important;
}
.card-footer a{
    color: #ffffff !important;
}