
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="pull-left put right" style="width:50%">
                <h2 class="medium">
                    <img src="assets/images/echo/call.png" />
                    {{'contactUs' | translate}}</h2>

            </div>
            <div class="pull-right put left" style="width:50%;">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a [routerLink]="'/home'" class="smaller">
                                <i class="fa fa-home"></i> &nbsp; {{'Home' | translate}}
                            </a> &nbsp; /
                        </li>
                        <li>
                            <a href="#" class="smaller">
                                &nbsp; {{'contactUs' | translate}}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->





<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col-lg-7 map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d864.0111430276684!2d31.322094716348293!3d29.97814902250403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjnCsDU4JzQxLjkiTiAzMcKwMTknMTguNyJF!5e0!3m2!1sen!2seg!4v1578223584734!5m2!1sen!2seg"
                    allowfullscreen></iframe>
            </div>
            <div class="col-lg-5">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <img src="assets/images/icon/phone.png" alt="Generic placeholder image">
                                <h6>Contact Us</h6>
                            </div>
                            <div class="media-body">
                                <p>+91 123 - 456 - 7890</p>
                                <p>+86 163 - 451 - 7894</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>ABC Complex,Near xyz, New York</p>
                                <p>USA 123456</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <img src="assets/images/icon/email.png" alt="Generic placeholder image">
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>Support@Shopcart.com</p>
                                <p>info@shopcart.com</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-fax" aria-hidden="true"></i>
                                <h6>Fax</h6>
                            </div>
                            <div class="media-body">
                                <p>Support@Shopcart.com</p>
                                <p>info@shopcart.com</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form class="theme-form" (ngSubmit)=" f.form.valid && saveEntity()" #f="ngForm" novalidate>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="name">{{'Name'|translate}}</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Your name" required
                                name="firstName" [(ngModel)]="entity.name" #firstName="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }">
                            <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                                <div class="text-danger" *ngIf="firstName.errors.required">
                                    {{'common_error_required' | translate}}</div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <label for="email">{{'email'|translate}}</label>
                            <input type="text" class="form-control" id="email" type="email" name="email" maxlength="200"
                                [(ngModel)]="entity.email"
                                pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" required
                                #email="ngModel" [ngClass]="{ 'is-invalid':  f.submitted && email.invalid }"
                                placeholder="Email">

                            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                <div class="text-danger" *ngIf="email.errors.required">
                                    {{'common_error_required' | translate}}</div>
                                <div class="text-danger" *ngIf="email.errors.pattern">
                                    {{'common_invalidEmail' | translate}} </div>
                                <div class="text-danger" *ngIf="email.errors.maxlength">
                                    {{'common_error_maxlength' | translate}}
                                </div>

                            </div>
                        </div>

                      

                        <div class="col-md-12">
                            <label for="review">{{'subject'|translate}}</label>
                            <input type="text" class="form-control" id="review" placeholder="Enter subject" required
                                name="subject" [(ngModel)]="entity.subject" #subject="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && subject.invalid }">

                            <div *ngIf="f.submitted && subject.invalid" class="invalid-feedback">
                                <div class="text-danger" *ngIf="subject.errors.required">
                                    {{'common_error_required' | translate}}</div>
                            </div>
                        </div>
                        

                        <div class="col-md-12">
                            <label for="review">{{'Write Your Message' |translate}}</label>
                            <textarea class="form-control" placeholder="Write Your Message"
                                id="exampleFormControlTextarea1" rows="6"  name="message" [(ngModel)]="entity.comment" #message="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && message.invalid }" ></textarea>

                                <div *ngIf="f.submitted && message.invalid" class="invalid-feedback">
                                    <div class="text-danger" *ngIf="message.errors.required">
                                        {{'common_error_required' | translate}}</div>
                                </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-solid" type="submit">{{'Send Your Message'|translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->