.card-header{
    background-color: #ddd !important;
}
.card-header span{
    color: #000 !important;
    font-size: larger;
    text-align: center;
}

.card-footer{
    background-color: #ff4c3b !important;
}
.card-footer a{
    color: #ffffff !important;
}