<div class="row m-3" *ngIf="products.length > 0">
  <div class="col card">
    <div class="row card-header ">
      <div class="col text-center"><span>
          {{'offers' | translate}}
        </span>
      </div>
    </div>
    <div class="row card-body">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" *ngFor="let product of products | slice:0:8">
        <div class="product-box">
          <product-card [product]="product"></product-card>
        </div>

      </div>
    </div>

    <!-- <div class="row card-footer">
            <div class="col">
                <a href="#">{{'more products' | translate}} >></a>
            </div>
        </div> -->
  </div>

</div>