<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="pull-left put right" style="width:50%">
        <h2 class="medium">
          <img src="assets/images/echo/cart_empty.png" />
          {{'cart' | translate}}</h2>

      </div>
      <div class="pull-right put left" style="width:50%;">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ul class="breadcrumb">
            <li>
              <a [routerLink]="'/home'" class="smaller">
                <i class="fa fa-home"></i> &nbsp; {{'Home' | translate}}
              </a> &nbsp; /
            </li>
            <li>
              <a href="#" class="smaller">
                &nbsp; {{'cart' | translate}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->

<!-- section start -->
<section class="cart-section section-b-space">
  <div class="container">
    <div class="col-sm-12 empty-cart-cls text-center" *ngIf="!shoppingCartItems.length">
      <img src="assets/images/icon-empty-cart.png" class="">
      <h3><strong>{{'Your Cart is Empty' | translate}}</strong></h3>
      <h4>{{'Add something to make me happy :)' | translate}}</h4>
    </div>
    <div class="row" *ngIf='shoppingCartItems.length'>
      <div class="col-sm-12">
        <table class="table cart-table border table-responsive-xs">
          <thead class="bg-slate-600">
            <tr class="table-head">
              <th class="text-white medium bg-slate-800" scope="col">{{'image' | translate}}</th>
              <th class="text-white medium bg-slate-800" scope="col">{{'Product Name' | translate}}</th>
              <th class="text-white medium bg-slate-800" scope="col">{{'price' | translate}}</th>
              <th class="text-white medium bg-slate-800" scope="col">{{'quantity' | translate}}</th>
              <th class="text-white medium bg-slate-800" scope="col">{{'total' | translate}}</th>
              <th class="text-white medium bg-slate-800" scope="col">{{'Action' | translate}}</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of shoppingCartItems">
            <tr class="border text-small">
              <td>
                <a [routerLink]="['/home/product', item.product.id]">
                  <img [src]="item.product.image ? host + item.product.image.imageUrl : defaultImageUrl" alt="">
                </a>
              </td>
              <td class="small">
                <a [routerLink]="['/home/product', item.product.id]">{{ item.product.name }}</a>
                <!-- <a [routerLink]="['/home/product', item.product.id]">{{ item.product.descriptions[0].title }}</a> -->
                   <a [routerLink]="['/home/product', item.product.id]">{{ item.product.titleByLan }}</a> 
                <div class="mobile-cart-content row">
                  <div class="col-xs-3">
                    <div class="qty-box">
                      <div class="input-group">
                        <input type="text" name="quantity" class="form-control input-number" disabled
                          [value]="item.quantity">
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <h2 class="td-color">{{ item.product.price | currency:productsService?.currency:'symbol' }}</h2>
                  </div>
                  <div class="col-xs-3">
                    <h2 class="td-color">
                      <a (click)="removeItem(item)" class="icon">
                        <i class="ti-close"></i>
                      </a>
                    </h2>
                  </div>
                </div>
              </td>
              <td>
                <h2 class="larg">{{ item.product.price | currency:productsService?.currency:'symbol' }}</h2>
              </td>
              <td>
                <div class="qty-box">
                  <div class="input-group">
                    <span class="input-group-prepend">
                      <button type="button" class="btn quantity-left-minus" (click)="decrement(item)"
                        style="float:left;height:40px !important;width:22px !important;" data-type="minus"
                        data-field="">
                        <!-- <i class="ti-angle-left"></i> -->
                        <i class="fa fa-minus-square"></i>
                      </button>
                    </span>
                    <input type="text" name="quantity" disabled class="form-control input-number"
                      [(ngModel)]="item.quantity" style="height:40px !important;width:40px !important;padding:1px">
                    <span class="input-group-prepend">
                      <button type="button" class="btn quantity-right-plus" (click)="increment(item)" data-type="plus"
                        style="height:40px !important;width:22px !important;" data-field="">
                        <!-- <i class="ti-angle-right"></i> -->
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </td>
              <td class="small">
                <h2 class="td-color">{{ item.product.price * item.quantity |
                    currency:productsService?.currency:'symbol' }}</h2>
              </td>
              <td>

                <a [routerLink]="" (click)="removeItem(item)" title="{{'Remove from Cart'|translate}}"
                  class="btn btn-icon btn-rounded btn-sm legitRipple">
                  <i class="ti-close"></i>
                </a>


                <a [routerLink]="" (click)="addToWishlist(item.product)" title="{{'Add to Wishlist'|translate}}"
                  class="btn btn-icon btn-rounded btn-sm legitRipple">
                  <i class="ti-heart" aria-hidden="true"></i>
                </a>


                <a [routerLink]="" (click)="addToQuotList(item.product)" title="{{'Add to Quotation'|translate}}"
                  class="btn btn-icon btn-rounded btn-sm legitRipple">
                  <i class="txt-grey fa fa-quote-left"></i>
                </a>

              </td>

            </tr>
          </tbody>
        </table>
        <table class="table cart-table table-responsive-md">
          <tfoot>
            <tr>
              <td>{{'total price' | translate}} :</td>
              <td>
                <h2> {{ getTotal() | async | currency:productsService?.currency:'symbol'}}</h2>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row cart-buttons" *ngIf='shoppingCartItems.length'>
      <div class="col-6">
        <a [routerLink]="['/home']" class="btn btn-solid">{{'continue shopping' | translate}}</a>
      </div>
      <div class="col-6">
        <a [routerLink]="['/home/checkout']" class="btn btn-solid">{{'checkout'  | translate}}</a>
      </div>
    </div>
  </div>
</section>
<!--section end-->

<!-- confirmation dialog -->
<p-confirmDialog header="{{'Confirmation' | translate}}" icon="pi pi-exclamation-triangle"></p-confirmDialog>