app-product img.img-fluid{
    height : 250px !important;
    width : 200px !important;
}

.products-container{
    // border: 1px solid #666;
    // border-radius: 5rem;
}

.btnContainer{
    margin: 5px 0;
}
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #f24b3c;
    color: white;
  }