<!-- <app-slider></app-slider> -->
<!-- <app-collection-banner-six></app-collection-banner-six> -->
<main-view [products]="entityList"></main-view>


<!-- View options -->

<div id="echo-product-view-option" class="media no-padding no-margin echo-product-view-option">
    <div class="media-left">

        {{"SortAndFilter"|translate}}:

        <button>
            <i class="fa fa-sort-amount-desc" (click)="sortByPrice()" ></i> {{"ByPrice"|translate}}</button>
        &nbsp;
        <button type="button" (click)="sortByName()"><i class="fa fa-sort-alpha-desc"></i>
            {{"ByName"|translate}}</button>

    </div>
    <div class="media-body media-middle no-padding no-margin">

    </div>
    <div class="media-right no-padding no-margin">

        {{"ViewOptions"| translate}} :

        <button class=" byCat" (click)="byCategoryView('byCat')"><i class="fa fa-server"></i>
            {{"ByCategory" |translate}}</button>
        &nbsp;<button class=" list" (click)="listView('list')"><i class="fa fa-bars"></i>
            {{"List" | translate}}</button>
        &nbsp;<button class=" grid" (click)="gridView('grid')"><i class="fa fa-th-large"></i>
            {{"Grid" |translate}}</button>
    </div>

</div>
<!-- /View options -->
<div class="container-fluid products-container" style="margin-top:10px;">

    <ng-container *ngIf="entityList.length > 0">
        <!-- tree -->
        <app-product-tab *ngIf="viewType == 'byCat' && visibleCategoryProducts.length > 0"
            [visibleCategoryProducts]="filtereVisibleCategoryProducts">
        </app-product-tab>
        <!-- list -->
        <div class="search-results" data-infinite-scroll [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle"
            (scrolled)="onScrollDown()">
            <product-list-view *ngIf="viewType == 'list'  && entityList.length > 0" [products]="entityList">
            </product-list-view>

            <product-grid-view *ngIf="viewType == 'grid'  && entityList.length > 0" [products]="entityList">
            </product-grid-view>
        </div>

        <!-- grid -->

    </ng-container>

    <!-- start-loader -->
    <div *ngIf="loading" class="text-center">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
        </div>

        <div>
            {{'Loading Products' | translate}}
        </div>

    </div>
    <!-- end-loader -->
</div>

<!--  -->

<!--  -->
<div class="title3 container echo-margin" *ngIf="productInSale.length > 0">
    <div class="title-inner3">
        <div class="pull-left put-right"><i class="fa fa-bars sidebar-bar"></i> &nbsp;{{'offers' | translate}}</div>
        <div class="pull-right put-left more">
            <a href="#">{{'Show More' | translate}} ... &gt;&gt;</a>
        </div>
    </div>
    <section class="p-t-0 section-b-space tools-grey border-box echo-border">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ngx-slick-carousel class="product-5 product-m no-arrow" #slickModal="slick-carousel"
                        [config]="productSlideConfig">
                        <div ngxSlickItem class="echo-Product" *ngFor="let product of productInSale | slice:0:16">
                            <app-product-box-hover [product]="product"></app-product-box-hover>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </section>
</div>
<brand-testmonials></brand-testmonials>
<app-quick-view></app-quick-view>
<!-- <app-modal-cart></app-modal-cart> -->