.ui-dialog .ui-dialog-titlebar {
    border: 1px solid #902c24 !important;
    background-color: #902c24 !important;
    color: #ffffff !important;
    padding: 1em !important;
    font-weight: 700 !important;
    border-bottom: 0 none;
}

.ui-button:enabled:active {
    background-color: #8f2c24 !important;
    color: #ffffff !important;
    border-color: #8f2c24 !important;
}

.ui-button {
    margin: 0;
    color: #ffffff;
    background-color: #902c24 !important;
    border: 1px solid #902c24 !important;
    font-size: 14px;
    transition: background-color 0.2s, box-shadow 0.2s;
}

body .ui-dialog	{
    // min-width: 960px !important;
    min-width: 400px !important;
}