<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>{{'checkout' | translate}}</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home'">{{'home' | translate}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{'checkout' | translate}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<section *ngIf="!payingInProgress" class="section-b-space">
    <div class="container padding-cls">
        <div class="checkout-page">
            <div class="checkout-form">
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-title">
                                <h3>{{'Billing Details' | translate}}</h3>
                            </div>
                            <div class="row check-out">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">{{'First Name' | translate}}</div>
                                    <input type="text" name="firstName"
                                        [formControl]="checkoutForm.controls['firstName']" value="" placeholder=""
                                        autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.firstName.touched && checkoutForm.controls.firstName.errors?.required"
                                        class="text text-danger">
                                        {{'First Name' | translate}} {{'Is Required' | translate}}
                                    </div>
                                    <div *ngIf="checkoutForm.controls.firstName.touched && checkoutForm.controls.firstName.errors?.pattern"
                                        class="text text-danger">
                                        {{'First Name' | translate}} {{'must be an alphabates' | translate}}
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="field-label">{{'Last Name' | translate}} </div>
                                    <input type="text" name="lastName" [formControl]="checkoutForm.controls['lastName']"
                                        value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.lastName.touched && checkoutForm.controls.lastName.errors?.required"
                                        class="text text-danger">
                                        {{'Last Name' | translate}} {{'Is Required' | translate}}
                                    </div>
                                    <div *ngIf="checkoutForm.controls.lastName.touched && checkoutForm.controls.lastName.errors?.pattern"
                                        class="text text-danger">
                                        {{'Last Name' | translate}} {{'must be an alphabates' | translate}}
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">{{'Phone No' | translate}}</div>
                                    <input type="text" name="phone" [formControl]="checkoutForm.controls['phone']"
                                        value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.required"
                                        class="text text-danger">
                                        {{'Phone No' | translate}} {{'Is Required' | translate}}
                                    </div>
                                    <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.pattern"
                                        class="text text-danger">
                                        {{'Phone No' | translate}} {{'is must be number' | translate}}
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">{{'Country' | translate}}</div>
                                    <select name="country" [formControl]="checkoutForm.controls['country']">
                                        <option value="" selected>{{'Select'}}</option>
                                        <option *ngFor="let country of countries" [ngValue]="country.code">{{
                                            country.name | translate }}</option>
                                    </select>
                                    <div *ngIf="checkoutForm.controls.country.touched && checkoutForm.controls.country.errors?.required"
                                        class="text text-danger">
                                        {{'Country' | translate}} {{'Is Required' | translate}}
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">{{'Address' | translate}}</div>
                                    <input type="text" name="address" [formControl]="checkoutForm.controls['address']"
                                        value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.required"
                                        class="text text-danger">
                                        {{'Address' | translate}} {{'Is Required' | translate}}
                                    </div>
                                    <div *ngIf="checkoutForm.controls.address.touched && checkoutForm.controls.address.errors?.maxlength"
                                        class="text text-danger">
                                        {{'Maximum 50 character' | translate}}
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="field-label">{{'Town/City' | translate}}</div>
                                    <input type="text" name="city" [formControl]="checkoutForm.controls['city']"
                                        value="" placeholder="" autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.city.touched && checkoutForm.controls.city.errors?.required"
                                        class="text text-danger">
                                        {{'Town/City' | translate}} {{'Is Required' | translate}}
                                    </div>
                                </div>

                                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                    <div class="field-label">{{'Postal Code' | translate}}</div>
                                    <input type="text" name="postalCode"
                                        [formControl]="checkoutForm.controls['postalCode']" value="" placeholder=""
                                        autocomplete="off">
                                    <div *ngIf="checkoutForm.controls.postalCode.touched && checkoutForm.controls.postalCode.errors?.required"
                                        class="text text-danger">
                                        {{'Postal Code' | translate}} {{'Is Required' | translate}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="checkout-details">
                                <div class="order-box">
                                    <div class="title-box">
                                        <div>{{'product' | translate}} <span> {{'total' | translate}}</span></div>
                                    </div>
                                    <ul class="qty" *ngIf='checkOutItems.length'>
                                        <li *ngFor="let item of checkOutItems">
                                            {{ item.product.name }} × {{ item.quantity }}
                                            <span>
                                                {{ item.product.price * item.quantity | currency:productsService?.currency:'symbol' }}
                                            </span>
                                        </li>
                                    </ul>
                                    <ul class="qty" *ngIf='!checkOutItems.length'>
                                        <li class="empty-checkout"> There are no products in cart </li>
                                    </ul>
                                    <ul class="sub-total">
                                        <li>
                                            Subtotal <span
                                                class="count">{{ getTotal() | async | currency:productsService?.currency:'symbol'}}</span>
                                        </li>
                                        <li *ngIf='checkOutItems.length'>
                                            {{'shipping' | translate}}
                                            <div class="shipping">
                                                <div class="shopping-option">
                                                    <input type="radio" name="shipping" checked="checked"
                                                        id="free-shipping">
                                                    <label for="free-shipping">{{'shipping' | translate}}</label>
                                                </div>
                                                <div class="shopping-option">
                                                    <input type="radio" name="shipping" id="local-pickup">
                                                    <label for="local-pickup">{{'Local Pickup' | translate}}</label>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="total">
                                        <li>{{'total' | translate}} <span
                                                class="count">{{ getTotal() | async | currency:productsService?.currency:'symbol'}}</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="payment-box" *ngIf='checkOutItems.length'>
                                    <div class="upper-box">
                                        <div class="payment-options">
                                            <ul>
                                                <li>
                                                    <div class="radio-option">
                                                        <input type="radio" [(ngModel)]="paymentType" [value]="false"
                                                            name="payment-group" id="payment-2">
                                                        <label for="payment-2">Stripe
                                                            <span class="small-text">Please send a check to Store Name,
                                                                Store Street, Store Town, Store State / County, Store
                                                                Postcode.</span></label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="radio-option paypal">
                                                        <input type="radio" [(ngModel)]="paymentType" [value]="true"
                                                            name="payment-group" id="payment-3">
                                                        <label for="payment-3">PayPal<span class="image"><img
                                                                    src="assets/images/paypal.png"
                                                                    alt="" /></span></label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button id="doPay" class="btn-solid btn" [disabled]="!checkoutForm.valid"
                                            (click)="checkoutPayment()">{{'Pay' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<div class="row text-center" *ngIf="payingInProgress">
    <div class="col">
        <div class="row">
            <div class="col">{{'Wait,Paying in progress ...' | translate}}</div>
        </div>

        <div class="row">
            <div class="col"><img src="assets/images/loader.gif" width="300" height="300" /></div>
        </div>
    </div>
</div>