.home-slider .home {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 75vh;
    max-width: 100%;
    max-height: 100%;
    background-size: 100% 100%;
}