<!-- Home slider -->
<section class="p-0">
    <ngx-slick-carousel class="home-slider" #slickModal="slick-carousel" [config]="sliderConfig">

        <div *ngFor="let prod of sliderProducts" ngxSlickItem>
            <div aclass="home text-left " [style.background]="'url(' + img_prefix + prod.images[0].imageUrl +')'"
                style="background-size: cover !important;background-repeat: no-repeat !important;background-position: center !important;height: 45vh !important;
                width: 100% !important; height: 100% !important;">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div class="rtlclass">
                                    <h4 *ngIf="prod.categories">{{prod.categories[0].description.name}}</h4>
                                    <h1>{{prod.descriptions[0].name}}</h1>
                                    <a *ngIf="prod.categories" [href]="'/home/collection/' + prod.categories[0].code"
                                        class="btn btn-solid">{{'shop now' | translate}}</a>
                                    <a *ngIf="!prod.categories" [href]="'/home/collection/furniture'"
                                        class="btn btn-solid">{{'shop now' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ngx-slick-carousel>
</section>
<!-- Home slider end -->