<!-- <div class="collection-collapse-block border-0 open">
    <h3 class="collapse-block-title">{{'price' | translate}}</h3> -->
    <!-- <div class="collection-collapse-block-content">
        <div class="collection-brand-filter">
            <div class=""> -->
                <span class="text-center">
                    <span class="put-right pull-right">{{range[1]}} EGP</span> <span class="put-left ">{{range[0]}} EGP</span>
                </span>
                <range-slider  [toolTips]="[false,false]" [min]="min" [max]="max" [step]="100" [(ngModel)]="range"
                    (onRangeChange)="priceChanged($event)" [highlightClass]="'stephighlightClass'"
                    [barClass]="'stepBarClass'" [sliderClass]="'stepSliderClass'">
                </range-slider>
            <!-- </div>
        </div> -->
    <!-- </div>
</div> -->