<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
      <div class="row">
          <div class="pull-left put right" style="width:50%">
              <h2 class="medium">
                  <img src="assets/images/echo/info.png" />
                  {{title}}</h2>

          </div>
          <div class="pull-right put left" style="width:50%;">
              <nav aria-label="breadcrumb" class="theme-breadcrumb">
                  <ul class="breadcrumb">
                      <li>
                          <a [routerLink]="'/home'" class="smaller">
                              <i class="fa fa-home"></i> &nbsp; {{'Home' | translate}}
                          </a> &nbsp; /
                      </li>
                      <li>
                          <a href="#" class="smaller">
                              &nbsp; {{title}}
                          </a>
                      </li>
                  </ul>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- breadcrumb End -->





<section class="about-page  section-b-space">
  <div class="container">
    <div class="bold text-slate-800 larg">{{title}}</div>
    <div class="row">
      <div>
        <div *ngFor="let sysDetails of systemInfoDetails ;let i = index" >
          <br>
            <details open>
              <summary class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">{{sysDetails.descriptions[0].title}}</summary>
             <p class="jumbotron"> {{sysDetails.descriptions[0].description}}</p>
            </details>
        </div>
      </div>
    </div>
  </div>
</section>