.main-view-overflow{
    height: 230px !important;
    max-height: 435px !important;
    overflow: auto !important;
}

.badge-echo{
    color: #fff;
    background-color: #f84a39;
}

img.img-fluid{
    height : 60px !important;
    width : 70px !important;
}
.product-box .product-detail h6{
    font-size: 12px !important;
    font-weight: bold !important;
}