<section id="movement" class="p-0 atools_slider acontainer">
  <!-- <div class="row ">
    <div class="col-2">
      <echo-mega-menu></echo-mega-menu>
    </div>
    <div class="col-10"> -->
      <ngx-slick-carousel class="slide-1 home-slider " #slickModal="slick-carousel" [config]="sliderConfig">
        <div ngxSlickItem>
          <div class="home home101 text-center">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="slider-contain">
                    <div>
                      <h4>welcome to tools</h4>
                      <h1>auto parts</h1>
                      <a [routerLink]="'/home/left-sidebar/collection/tools'" class="btn btn-solid">shop now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tools-parts" id="tools-move">
                <img src="assets/images/tools/12.jpg" class="img-fluid" alt="">
              </div>
              <div class="tools-parts1" id="tools-move1">
                <img src="assets/images/tools/13.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
        <div ngxSlickItem>
          <div class="home home102 text-center">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="slider-contain">
                    <div>
                      <h4>welcome to tools</h4>
                      <h1>auto parts</h1>
                      <a [routerLink]="'/home/left-sidebar/collection/tools'" class="btn btn-solid">shop now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tools-parts" id="tools-move2">
                <img src="assets/images/tools/1.png" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    <!-- </div>
  </div> -->
</section>