<!-- breadcrumb start -->
<!-- <div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>{{'Quotations'  | translate}}</h2>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- breadcrumb end -->
<!-- section start-->
<section class="faq-section section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="accordion theme-accordion" id="accordionExample">
          <div class="card" *ngFor="let item of quotations">
            <div class="card-header" id="heading_{{item.id}}">
              <h5 class="mb-0">
                <button (click)="getQuotationItems(item.id)" class="btn btn-link" type="button" data-toggle="collapse"
                [attr.data-target]="'#collapse_'+item.id" aria-expanded="false" [attr.aria-controls]="'collapse_'+item.id">
                  <div class="row" style="width: 600px !important">
                    <div class="col medium">
                      {{'Quotation Id' | translate}} : {{item.id}}
                    </div>
                    <div class="col medium">
                      {{'Creation Date' | translate}}:{{item.creationDate | date}}
                    </div>
                  </div>

                  <!-- {{Quantity | translate}} : {{item}} -->
                </button>
              </h5>
            </div>

            <div id="collapse_{{item.id}}" class="collapse" [attr.aria-labelledby]="'heading_'+item.id" data-parent="#accordionExample">
              <div class="card-body">
                <table class="table datatable-basic table-striped">
                  <thead>
                    <tr>
                      <th style="text-align: center">{{'serial'|translate}}</th>
                      <th style="text-align: center" *ngFor="let col of columnsWithoutAction">{{col.header | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of quoteItemItems;let i = index">
                      <td>{{i + 1}}</td>
                      <td style="text-align: center" *ngIf="item.product.defaultImageUrl != null">
                        <a><img src="{{host + item.product.defaultImageUrl}}" alt="image" style="width: 60px; height: 60px;"></a>
                      </td>
                      <td style="text-align: center" *ngIf="item.product.defaultImageUrl == null">
                        <a><img src="{{defaultImageUrl}}" alt="image" style="width: 60px; height: 60px;">
                        </a>
                      </td>
                      <!-- <td><a [routerLink]="['/home/product/', item.product.id]">{{item.product}}</a></td> -->
                      <td style="text-align: center">{{item.product.productName}}</td>
                      <td style="text-align: center">
                        {{item.product.price}}
                      </td>

                      <!-- <td> -->
                        <!-- <ng-container [ngSwitch]="item.product.available"> -->
                        <!-- <ng-container *ngSwitchCase="true">{{'In Stock' | translate }}</ng-container> -->
                        <!-- <ng-container *ngSwitchCase="false">{{'Not available' | translate}}</ng-container> -->
                        <!-- </ng-container> -->
                      <!-- </td> -->
                      <td style="text-align: center">{{item.count}}</td>
                      <td style="text-align: center">{{item.createdDate | date}}</td>
                    </tr>
                    <tr *ngIf="!quoteItemItems.length">
                        <h4>{{'emptyData' | translate}}</h4>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->