<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>product</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">product</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-b-space">
  <div class="collection-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 collection-filter">
          <product-details-sidebar></product-details-sidebar>
        </div>
        <div class="col-lg-9 col-sm-12 col-xs-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-12">
                <div class="filter-main-btn mb-2">
                  <span class="filter-btn" (click)="mobileSidebar()"><i class="fa fa-bars" aria-hidden="true"></i>
                    sidebar</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <!-- <ngx-slick-carousel class="product-slick" id="p-zoom" #slickModal="slick-carousel"
                  [config]="slideConfig">
                  <div ngxSlickItem *ngFor="let image of product?.images">
                    <div>
                      <ngx-img-zoom [previewImageSrc]="image?.imageUrl" [zoomImageSrc]="image?.imageUrl"
                        [imgStyle]="'width:100%; height:100%;'"
                        [resultStyle]="'background-repeat: no-repeat; z-index: 2; position:absolute;background-size: 1614px 2064px;
                       -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 100%;'"
                        [lensStyle]="'width:100px; height:100px'" [containerStyle]="'position: relative;'"
                        (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
                      </ngx-img-zoom>
                    </div>
                  </div>
                </ngx-slick-carousel> -->
                <div class="row">
                  <div class="col-12 p-0">
                    <!-- <ngx-slick-carousel class="slider-nav" #slickModal="slick-carousel" [config]="slideNavConfig">
                      <div ngxSlickItem *ngFor="let image of product?.images">
                        <div>
                          <img [src]="image?.imageUrl" alt="" class="img-fluid">
                        </div>
                      </div>
                    </ngx-slick-carousel> -->
                  </div>
                </div>
              </div>
              <div class="col-lg-6 rtl-text">
                <div class="product-right">
                  <h2>{{product.name}}</h2>
                  <h4 *ngIf="!productsService?.catalogMode">
                    <del>{{product.salePrice | currency:productsService?.currency:'symbol'}}</del><span>{{product.discount}}%
                      off</span></h4>
                  <h3 *ngIf="!productsService?.catalogMode">
                    {{product.price | currency:productsService?.currency:'symbol'}}</h3>
                  <ul class="color-variant" *ngIf="product.variants && !productsService?.catalogMode">
                    <li [class]="variant.color" (click)="slickModal.slickGoTo(i)"
                      *ngFor="let variant of product.variants let i = index"></li>
                  </ul>
                  <div class="pro_inventory"
                    *ngIf="product.stock != 0 && product.stock <= 5 && !productsService?.catalogMode">
                    <p class="active">
                      Hurry! We have only {{product.stock}} product in stock.
                    </p>
                    <div class="inventory-scroll nostripes active">
                      <span style="width: 95%;"></span>
                    </div>
                  </div>
                  <div class="product-description border-product" *ngIf="!productsService?.catalogMode">
                    <h6 class="product-title size-text" *ngIf="product.size">
                      select size
                      <span><a href="">size chart</a></span>
                    </h6>
                    <div class="size-box" *ngIf="product.size">
                      <ul>
                        <li [ngClass]="{'active': selectedSize == size}" *ngFor="let size of product.size">
                          <a [routerLink]="" (click)="changeSizeVariant(size)">{{size}}</a>
                        </li>
                      </ul>
                    </div>
                    <h5 class="avalibility" *ngIf="counter <= product.stock"><span>In Stock</span></h5>
                    <h5 class="avalibility" *ngIf="counter > product.stock"><span>Out of Stock</span></h5>
                    <h6 class="product-title">quantity</h6>
                    <div class="qty-box">
                      <div class="input-group">
                        <span class="input-group-prepend">
                          <button type="button" (click)="decrement()" class="btn quantity-left-minus" data-type="minus"
                            data-field="">
                            <i class="ti-angle-left"></i>
                          </button>
                        </span>
                        <input type="text" name="quantity" disabled class="form-control input-number"
                          value="{{counter}}">
                        <span class="input-group-prepend">
                          <button type="button" (click)="increment()" class="btn quantity-right-plus" data-type="plus"
                            data-field="">
                            <i class="ti-angle-right"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="product-buttons" *ngIf="!productsService?.catalogMode">
                    <a [routerLink]="" (click)="addToCart(product, counter)" class="btn btn-solid"
                      [class.disabled]="counter > product.stock">add to cart</a>
                    <a [routerLink]="" (click)="buyNow(product, counter)" class="btn btn-solid"
                      [class.disabled]="counter > product.stock">buy now</a>
                  </div>
                  <div class="border-product">
                    <h6 class="product-title">product details</h6>
                    <p>{{product.shortDetails}}</p>
                  </div>
                  <div class="border-product">
                    <h6 class="product-title">share it</h6>
                    <div class="product-icon">
                      <ul class="product-social">
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://plus.google.com/discover"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                      </ul>
                      <form class="d-inline-block" *ngIf="!productsService?.catalogMode">
                        <button class="wishlist-btn" (click)="addToWishlist(product)"><i class="fa fa-heart"></i><span
                            class="title-font">Add To WishList</span></button>
                      </form>
                    </div>
                  </div>
                  <div class="border-product" *ngIf="!productsService?.catalogMode">
                    <h6 class="product-title">Time Reminder</h6>
                    <div class="timer">
                      <p id="timer">
                        <span>25
                          <span class="padding-l">:</span>
                          <span class="timer-cal">Days</span>
                        </span>
                        <span>22
                          <span class="padding-l">:</span>
                          <span class="timer-cal">Hrs</span>
                        </span>
                        <span>13
                          <span class="padding-l">:</span>
                          <span class="timer-cal">Min</span>
                        </span>
                        <span>57
                          <span class="timer-cal">Sec</span>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section class="tab-product m-0">
            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="top-home-tab" data-toggle="tab" href="#top-home" role="tab"
                      aria-selected="true">
                      <i class="icofont icofont-ui-home"></i>Description</a>
                    <div class="material-border"></div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-top-tab" data-toggle="tab" href="#top-profile" role="tab"
                      aria-selected="false"><i class="icofont icofont-man-in-glasses"></i>Details</a>
                    <div class="material-border"></div>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" id="contact-top-tab" data-toggle="tab" href="#top-contact" role="tab" aria-selected="false">
                    <i class="icofont icofont-contacts"></i>Video</a>
                    <div class="material-border"></div>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" id="review-top-tab" data-toggle="tab" href="#top-review" role="tab"
                      aria-selected="false">
                      <i class="icofont icofont-contacts"></i>Write Review</a>
                    <div class="material-border"></div>
                  </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                  <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                    <div class="row">
                      <div class="col">
                        <label> Product Name : </label>
                      </div>
                      <div class="col">
                        <p>{{product.name}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                    <p>{{product.shortDetails}}</p>
                    <div class="single-product-tables">
                      <table>
                        <tbody>
                          <tr>
                            <td>Name</td>
                            <td>{{product.name}}</td>
                          </tr>
                          <tr>
                            <td>Price</td>
                            <td>{{product.price | currency:productsService?.currency:'symbol'}}</td>
                          </tr>
                          <tr>
                            <td>Rate</td>
                            <!--  (rateChange)="updateProductRate(product, $event)" -->
                            <td>
                              <bar-rating [rate]="product.rating" [max]="5" [readOnly]="true"></bar-rating>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                      <!-- <table>
                        <tbody>
                          <tr>
                            <td>Length</td>
                            <td>50 Inches</td>
                          </tr>
                          <tr>
                            <td>Size</td>
                            <td>S, M, L .XXL</td>
                          </tr>
                        </tbody>
                      </table> -->
                    </div>
                  </div>
                  <!-- <div class="tab-pane fade" id="top-contact" role="tabpanel" aria-labelledby="contact-top-tab">
                    <div class="mt-3 text-center">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/BUWzX78Ye_8"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                  </div> -->
                  <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
                    <ul class="media-list media-list-linked">
                      <li *ngFor="let item of productReviews" class="media">
                        <a href="#" class="media-link">
                          <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-sm img-circle"
                              alt=""></div>
                          <div class="media-body">
                            <div class="media-heading"><span class="text-semibold">{{item.customer.firstName}}</span>
                              <!-- <span class="media-annotation pull-right">Just now</span></div> -->
                              <span class="media-annotation pull-right">{{item.date}}</span></div>

                            <span class="text-muted">{{item.description}}</span>
                          </div>
                        </a>
                      </li>
                      <li *ngIf="productReviews.length == 0" class="media">
                        <span>{{'no data' | translate}}</span>
                      </li>
                    </ul>

                    <form *ngIf="isLoggedIn" class="theme-form" #reviewFrom="ngForm"
                      (ngSubmit)="reviewFrom.form.valid && onSubmit(reviewFrom)">
                      <div class="form-row">
                        <bar-rating [rate]="product.rating" [max]="5" [readOnly]="!isLoggedIn"></bar-rating>
                        <div class="col-md-12">
                          <label for="review">Review Title</label>
                          <input type="text" class="form-control" id="review" placeholder="Enter your Review Subjects"
                            required>
                        </div>
                        <div class="col-md-12">
                          <label for="review">Type Review</label>
                          <textarea class="form-control" placeholder="Wrire Your Testimonial Here"
                            id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-12">
                          <button class="btn btn-solid" type="submit">Submit YOur Review</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->
<!-- Modal size chart -->
<div class="modal fade" id="sizemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ product.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/size-chart.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>