<div class="row">
  <div class="col-lg-6">
    <div class="header-contact">
      <ul>
        <li>{{ 'topbar-title' | translate }}</li>
        <li><i class="fa fa-phone" aria-hidden="true"></i>{{ 'call-us' | translate }}: 123 - 456 - 7890</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 text-right" *ngIf="!productsService?.catalogMode">
    <ul class="header-dropdown">
      <li class="compare">
        <a [routerLink]="'/home/compare'"><i class="fa fa-random" aria-hidden="true"></i>{{ 'compare' | translate }}</a>
      </li>
      <li class="mobile-wishlist">
        <a [routerLink]="'/pages/wishlist'"><i class="fa fa-heart"
            aria-hidden="true"></i>{{ 'wishlist' | translate }}</a>
      </li>
      <li class="onhover-dropdown mobile-account">
        <i class="fa fa-user" aria-hidden="true"></i> {{ 'my-account' | translate }}
        <ul class="onhover-show-div">
          <li *ngIf="!isLoggedIn">
            <a [routerLink]="'/auth/login'" data-lng="en" id="topbar-login">
              {{ 'login' | translate }}
            </a>
          </li>

          <ng-container *ngIf="isLoggedIn">
            <li>
              <a [routerLink]="'/account'" data-lng="es" id="topbar-myaccount">
                {{ 'my-account' | translate }}
              </a>
            </li>
            <li>
              <a [routerLink]="['/account']" [queryParams]="{ section: 'myOrders'}" data-lng="es" id="topbar-myaccount">
                {{ 'my-orders' | translate }}
              </a>
            </li>
            <li>
              <a [routerLink]="['/home/cart']" data-lng="es" id="topbar-myaccount">
                {{ 'cart' | translate }}
              </a>
            </li>
            <li>
              <a [routerLink]="['/pages/wishlist']" data-lng="es" id="topbar-myaccount">
                {{ 'wishlist' | translate }}
              </a>
            </li>
            <li>
              <a [routerLink]="'/account'" data-lng="es" id="topbar-myaccount">
                {{ 'account-settings' | translate }}
              </a>
            </li>
            <li>
              <a data-lng="es" (click)="logout()" id="topbar-logout">
                {{ 'logout' | translate }}
              </a>
            </li>
          </ng-container>

        </ul>
      </li>
    </ul>
  </div>
</div>