<div [formGroup]="form">
  <div class="row">
    <div class="col">
      <div class="form-group">

        <label [ngClass]="{'required':field.required}" [attr.for]="field.name">{{field.label | translate}}</label>

        <div [ngSwitch]="field.controlType">

          <input *ngSwitchCase="'textbox'" [formControlName]="field.name" [required]="field.required" [id]="field.name"
            [ngClass]="{ 'is-invalid': submitted && form.controls[field.name].errors }" #textBox appArabicNumbers
            appArabicNumbersEnabled="{{field.directives && field.directives.includes('appArabicNumbers')}}"
            class="form-control" [type]="field.fieldType" minlength="1" maxlength="12" (blur)="blurFunction()"
            (focus)="focusFunction()">


          <!-- -->

          <select *ngSwitchCase="'dropdown'" [formControlName]="field.name" [id]="field.name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form.controls[field.name].errors }">
            <option *ngFor="let opt of field.lookups" [value]="opt.id">{{opt.name | translate}}</option>
          </select>


        </div>

        <div class="text-danger" *ngIf="submitted && !isValid">{{field.label | translate}}
          {{'common_error_required' | translate}}</div>

      </div>
    </div>
  </div>
</div>