<section class="section-b-space p-t-0">
  <div class="container">
    <div class="row">
      <div class="col">


        <p-tabView>
          <p-tabPanel header="{{'customershippinginformation' | translate}}">
            <div class="row my-2">
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'firstName'|translate}}</label>:
                  <label> {{entity.billing.firstName}}</label>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'lastName'|translate}}</label>:
                  <label> {{entity.billing.lastName}}</label>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'Adress'| translate}}</label> :
                  <label>{{entity.billing.address}}</label>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">

                  <label>{{'company'| translate}}</label>:
                  <label>{{entity.billing.company}}</label>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'city'| translate}}</label>:
                  <label>{{entity.billing.city}}</label>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'country'| translate}}</label> :
                  <!--<select class="select" name="country" disabled [(ngModel)]="entity.billing.country">
                    <option *ngFor="let country of billingCountrys" [value]="country.code">
                      {{country.name | translate}}</option>
                  </select> -->
                </div>
              </div>
              <div class="row">

                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                  <div class="form-group">
                    <label>{{'Postalcode'| translate}}</label>:
                    <label>{{entity.billing.postalCode}}</label>
                  </div>
                </div>
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                  <div class="form-group">
                    <label>{{'email' | translate}}</label>:
                    <label>{{entity.emailAddress}}</label>

                  </div>
                </div>


                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                  <div class="form-group">
                    <label>{{'order_date' | translate}}</label> :
                    <label>{{entity.datePurchased}}</label>

                  </div>

                </div>

              </div>

              <div class="row">

                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                  <div class="form-group">
                    <label>{{'phone' | translate}}</label> :
                    <label>{{entity.billing.phone}}</label>
                  </div>
                </div>

                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                  <div class="form-group">
                    <label>{{'stateProvince'| translate}}</label> :
                    <!--<select name="zone" disabled [(ngModel)]="entity.billing.zone" #zone="ngModel">
                      <option *ngFor="let zone of Billingzones" [value]="zone.code">{{zone.name | translate}}
                      </option>
                    </select> -->

                  </div>
                </div>

              </div>

            </div>
          </p-tabPanel>
          <p-tabPanel header="{{'billinginformation' | translate}}">
            <div class="row my-2">
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'firstName'|translate}}</label> :
                  <label *ngIf="entity.delivery">{{entity.delivery.firstName}}</label>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'lastName'|translate}}</label> :
                  <label *ngIf="entity.delivery">{{entity.delivery.lastName}}</label>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'Adress'|translate}}</label> :
                  <label *ngIf="entity.delivery">{{entity.delivery.address}}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'city' | translate}}</label> :
                  <label *ngIf="entity.delivery">{{entity.delivery.city}}</label>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'country' | translate}}</label> :
                  <select name="country2" disabled *ngIf="entity && entity.delivery"
                    [(ngModel)]="entity.delivery.country" #country2="ngModel">
                    <option *ngFor="let country of Countrys" [value]="country.code">{{country.name | translate}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'Postalcode' | translate}}</label> :
                  <label *ngIf="entity.delivery">{{entity.delivery.postalCode }}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'company' | translate}}</label> :
                  <label *ngIf="entity.delivery">{{entity.delivery.company}}</label>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'stateProvince' | translate}}</label> :

                  <select name="zone2" *ngIf="entity.delivery" disabled [(ngModel)]="entity.delivery.zone"
                    #zone2="ngModel">
                    <option *ngFor="let zone of zones" [value]="zone.code">{{zone.name | translate}}</option>
                  </select>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'Status' | translate}}</label> :
                  <select name="Status" disabled [(ngModel)]="entity.orderStatus" #Status="ngModel">
                    <option *ngFor="let Statu of orderStates" [value]="Statu">{{Statu | translate}}</option>
                  </select>
                </div>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="{{'shippinginformation' | translate}}">
            <div class="row my-2">
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'firstName'|translate}}</label>:
                  <label> {{entity.billing.firstName}}</label>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'lastName'|translate}}</label>:
                  <label> {{entity.billing.lastName}}</label>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'Adress'| translate}}</label> :
                  <label>{{entity.billing.address}}</label>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'company'| translate}}</label>:
                  <label>{{entity.billing.company}}</label>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'city'| translate}}</label>:
                  <label>{{entity.billing.city}}</label>
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                  <label>{{'country'| translate}}</label> :
                  <select class="select" name="country" disabled [(ngModel)]="entity.billing.country">
                    <option *ngFor="let country of billingCountrys" [value]="country.code">
                      {{country.name | translate}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                  <div class="form-group">
                    <label>{{'Postalcode'| translate}}</label>:
                    <label>{{entity.billing.postalCode}}</label>
                  </div>
                </div>
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                  <div class="form-group">
                    <label>{{'email' | translate}}</label>:
                    <label>{{entity.emailAddress}}</label>
                  </div>
                </div>
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                  <div class="form-group">
                    <label>{{'order_date' | translate}}</label> :
                    <label>{{entity.datePurchased}}</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                  <div class="form-group">
                    <label>{{'phone' | translate}}</label> :
                    <label>{{entity.billing.phone}}</label>
                  </div>
                </div>
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                  <div class="form-group">
                    <label>{{'stateProvince'| translate}}</label> :
                    <select name="zone" disabled [(ngModel)]="entity.billing.zone" #zone="ngModel">
                      <option *ngFor="let zone of Billingzones" [value]="zone.code">{{zone.name | translate}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </p-tabPanel>
          <p-tabPanel header="{{'Productstable' | translate}}">
            <div class="row">
              <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label>{{'TermsAndConditions' | translate}} </label> {{entityAgreed +''| translate}}
              </div>
              <div class="row">
                <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                  <label>{{'PaymentMode' | translate}} </label>:
                  <label> {{entity.paymentType}} - {{entity.paymentModule}} </label>
                </div>
              </div>
              <div class="row">
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                  <table class="table datatable-basic table-striped">
                    <thead>
                      <tr>
                        <th *ngFor="let col of columnDefs">
                          {{col.header | translate}}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of ProductList;let i = index">
                        <td *ngFor="let col of columnDefs">
                          <span>{{item[col.field]}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">
                          {{'SubTotal' | translate}}
                        </td>
                        <td>{{SupTotal}} </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">
                          {{'Total' | translate}}
                        </td>
                        <td>{{Total}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>

      </div>
    </div>
  </div>
</section>