<!-- <app-header-one></app-header-one> -->

<!-- <app-header-one *ngIf="url != '/home/new-home' && url != '/home/two' && url != '/home/three' && url != '/home/four' && url != '/home/five' && url != '/home/ten' && url != '/home/eleven' && url != '/home/twelve' && url != '/home/thirteen' && url != '/home/fourteen'"></app-header-one> -->
<!-- <app-header-two *ngIf="url == '/home/new-home'"></app-header-two> -->
<app-header-two ></app-header-two>
<router-outlet></router-outlet>
<app-footer-one></app-footer-one>