<div class="img-wrapper"   >
  <div class="lable-block">
    <span class="lable3" *ngIf='product.productIsNew'>new</span>
    <span class="lable4" *ngIf='product.productInSale'>on sale</span>
  </div>
  <div class="front ">
    <a [routerLink]="['/home/product', product.id]">
      <!-- <img defaultImage [src]="variantImage ? variantImage : defaultImageUrl" class="img-fluid" alt="" (error)="updateUrl($event)" > -->
      <img defaultImage [src]="variantImage" (error)="updateUrl($event)" alt="image" class="img-fluid" >
    </a>
  </div>
  <ul class="product-thumb-list">
    <li class="grid_thumb_img" [ngClass]="{'active': selectedItem == variant.images}"
      *ngFor="let variant of product?.variants">
      <a [routerLink]="" (click)="changeVariantImage(variant.images)">
        <img [src]="variant.images">
      </a>
    </li>
  </ul>
  <div class="cart-info cart-wrap" *ngIf="!productsService?.catalogMode">
    <a [routerLink]="" [attr.data-target]="'#addtocart'+product.id" data-toggle="modal" (click)="addToCart(product)"
      data-placement="left" title="{{'Add to Cart'|translate}}">
      <i class="ti-shopping-cart"></i>
    </a>
    <a [routerLink]="" (click)="addToWishlist(product)" title="{{'Add to Wishlist' |translate}}">
      <i class="ti-heart" aria-hidden="true"></i>
    </a>
    <a (click)="addToQuotationList(product)" [routerLink]="" title="{{'Add to QuotatinList'|translate}}">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
    </a>
    <a [routerLink]="['/home/product', product.id]" title="{{'View'|translate}}">
      <i class="ti-search" aria-hidden="true"></i>
    </a>

    <!-- <a [routerLink]="['/home/compare']" (click)="addToCompare(product)" title="Compare"></a> -->
    <a  (click)="addToCompare(product)" title="{{'Compare'|translate}}">
      <i class="ti-reload" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="product-detail">
  <div class="text-center">
    
    <bar-rating [rate]="product.rating" [max]="5" 
    (rateChange)="updateProductRate(product, $event)" [readOnly]="false">
    </bar-rating>

    <p class="small text-center text-primary-800">
      <a [routerLink]="['/home/product', product.id]">
       {{product.name}}
      </a>
    </p>
    
    

    <ul class="color-variant" *ngIf="!productsService?.catalogMode">
      <li [class]="variant.color" (click)="changeVariantImage(variant.images)" *ngFor="let variant of product.variants">
      </li>
    </ul>

  </div>
</div>
<div class="panel-footer panel-footer-condensed " >
  <div class="heading-elements not-collapsible x-larg text-danger-600">
  
  {{product.price | currency:productsService?.currency:'symbol'}}
    <del *ngIf="product?.discounted" >
      <span class="money">
        {{product.originalPriceAmount | currency:productsService?.currency:'symbol'}}
      </span></del>
  </div>  

</div>