.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    color: #f1ecec !important;
    background-color: #f84a39 !important;
}

.nav-tabs .nav-link {
    color: #f84a39 !important;
}

#myTabContent img.img-fluid{
    height : 300px !important;
}