<ng-container *ngFor="let vcp of visibleCategoryProducts">
    <div class="title3 acontainer echo-margin">
        <div class="title-inner3">
            <div class="pull-left put-right larg"><i class="fa fa-caret-square-o-up txt-dimed"></i> &nbsp;
                {{vcp.name}}</div>
            <div class="pull-right put-left  small">
                <a [routerLink]="['/home/collection', vcp.id]">
                    {{'Show More' | translate}} ... &gt;&gt;</a>
            </div>
        </div>

        <section class="p-t-0 section-b-space gym-product echo-border">
            <div class="container">
                <div class="row partition-cls">
                    <div class="col-sm-3" *ngFor="let product of vcp.products">
                        <div class="product-box ">
                            <product-card [product]="product"></product-card>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- <section class="p-t-0 section-b-space tools-grey border-box echo-border">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ngx-slick-carousel class="product-5 product-m no-arrow" #slickModal="slick-carousel"
                            [config]="categorySlideConfig">
                            <div ngxSlickItem class="echo-Product"
                                *ngFor="let product of vcp.products">
                                <app-product-box-hover [product]="product"></app-product-box-hover>
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
        </section> -->


    </div>
</ng-container>