<div class="theme-card">
  <form (ngSubmit)="outputs()" [formGroup]="form" class="theme-form">

    <div *ngFor="let field of fields" class="form-row">
      <app-dynamic-form-field [field]="field" [form]="form"
        [blurFunction]="funcs && funcs[field.name] && funcs[field.name].blur"
        [focusFunction]="funcs && funcs[field.name] && funcs[field.name].focus">
      </app-dynamic-form-field>
    </div>

    <div class="form-row">
      <button type="submit">{{'Save' | translate}}</button>
    </div>
  </form>

</div>