<!--footer section -->
<footer class="footer-light" style="border-top: 1px solid #ddd;">
	<section class="section-b-space light-layout">
		<div class="container">
			<div class="row footer-theme partition-f">
				<div class="col-lg-4 col-md-6">
					<div class="footer-title footer-mobile-title">
						<span class="medium">{{'about' | translate}}</span>
					</div>
					<div class="footer-contant">
						<div class="footer-logo">
							<img src="assets/images/icon/logo.png" alt="">
						</div>
						<app-information></app-information>
						<app-social></app-social>
					</div>
				</div>
				<div class="col offset-xl-1">
					<div class="sub-title">
						<app-categories></app-categories>
					</div>
				</div>
				<div class="col">
					<div class="sub-title">
						<app-why-we-choose></app-why-we-choose>
					</div>
				</div>

				<div class="col">
					<div class="sub-title">
						<app-system-information></app-system-information>
					</div>
				</div>
				<div class="col">
					<div class="sub-title">
						<div class="footer-title text-center">
							<span class="medium bold">{{'store information' | translate}}</span>
						</div>
						<div class="footer-contant">
							<ul class="contact-list medium">
								<li class="medium"><i class="fa fa-map-marker"></i>Echo Store, Demo store
									Egypt 345-659</li>
								<li class="medium"><i class="fa fa-phone"></i>{{'Call Us' | translate}}: 123-456-7898</li>
								<li class="medium"><i class="fa fa-envelope-o"></i>{{'Email Us' | translate}}: <a [routerLink]="">Support@Fiot.com</a>
								</li>
								<li class="medium"><i class="fa fa-fax"></i>{{'Fax' | translate}}: 123456</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="sub-footer">
		<div class="container">
			<app-copyright></app-copyright>
		</div>
	</div>
</footer>
<!--footer section end -->
<!-- Rtl start -->
<!-- <div class="rtl-btn" id="">
    <a href="javascript:void(0)" class="RTL_cls">
        RTL
    </a>
</div> -->
<!-- rtl end -->