<ul class="media-list">
    <ng-container *ngFor="let product of products">
      <li class="media panel panel-body stack-media-on-mobile">
        <a href="#" class="media-left thumbnail">
              <img  class="img-rounded"  
              style="width:150px !important;height:150px !important;border-radius: 5px;"
              [src]="host + product?.image?.imageUrl" onError="this.src='assets/images/fashion/product/1.jpg'" alt="" class="img-fluid">
        </a>

        <div class="media-body">
          <h6 class="media-heading text-semibold ">
            <a href="#" class="text-grey-800">{{product.name}}</a>
          </h6>

          <ul class="list-inline list-inline-separate mb-10">
              <!-- <li><a href="#" class="text-muted">Fashion</a></li>
              <li><a href="#" class="text-muted">Long sleeve shirts</a></li> -->
          </ul>
           <p class="content-group-sm"  content="text/html; charset=utf-8" > {{product.descriptionByLan}}</p>
          <ul class="icons-list icons-list-extended mt-10">
            <!-- <li>
              <a [routerLink]="" [attr.data-target]="'#addtocart'+product.id" data-toggle="modal"
              (click)="addToCart(product)" data-placement="left" title="Add to cart" 
              class="btn bg-primary-300  btn-rounded btn-icon legitRipple">
              <i class="ti-shopping-cart text-white text-black"></i>
            </a>
            </li> -->
            <li><a  [routerLink]="" (click)="addToWishlist(product)" title="{{'Add to Wishlist' |translate}}" 
              class="btn bg-primary-300  btn-rounded btn-icon legitRipple">
                <i class="ti-heart text-white text-black" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a  (click)="addToQuotationList(product)" [routerLink]="" title="{{'Add to QuotatinList'| translate}}"
              class="btn bg-primary-300  btn-rounded btn-icon legitRipple">
                <i class="fa fa-quote-left text-white text-black" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a  [routerLink]="['/home/product', product.id]" title="{{'View' | translate}}"
              class="btn bg-primary-300  btn-rounded btn-icon legitRipple">
                <i class="ti-search text-white text-black" aria-hidden="true"></i>
              </a>
            </li>

            <li>
              <a  (click)="addToCompare(product)" title="{{'compare' | translate}}"
              class="btn bg-primary-300  btn-rounded btn-icon legitRipple">
                <i class="ti-reload text-white text-black" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="media-right text-center">
          <h3 class="no-margin text-semibold text-grey-800 text-center">
            {{product.price | currency:productsService?.currency:'symbol'}} <del><span
                class="money">{{product.salePrice | currency:productsService?.currency:'symbol'}}</span></del>
          </h3>

          <div class="text-nowrap text-semibold text-grey-800 text-center">
              <bar-rating [rate]="product.rating" [max]="5" (rateChange)="updateProductRate(product, $event)"
              [readOnly]="false">
              </bar-rating>
          </div>
          
            <a [routerLink]="" [attr.data-target]="'#addtocart'+product.id" data-toggle="modal"
            (click)="addToCart(product)" data-placement="left" title="Add to cart"  
             class="btn bg-primary-300  btn-labeled btn-labeled-right legitRipple">{{"Add To Cart" | translate}} <b>
                <i class="ti-shopping-cart text-white text-black"></i></b></a>
				                    		
        </div>
        
      </li>
    </ng-container>

</ul>


