<!-- section start -->
<section class="section-b-space">
  <div class="collection-wrapper">
    <div class="container">
      <div class="row">
        <div class="collection-content col">
          <div class="page-main-content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="top-banner-wrapper">
                    <div class="top-banner-content small-section">
                      <h4>{{manufacturer?.name}}</h4>
                      <h5 *ngIf="manufacturer?.description">{{manufacturer?.description.description}}</h5>
                    </div>
                  </div>
                  <div class="collection-product-wrapper">
                    <!-- Filter Block Products -->
                    <div class="product-top-filter">
                      <div class="container-fluid p-0">
                        <div class="row">
                          <div class="col-xl-12">
                            <div class="filter-main-btn">
                              <span class="filter-btn btn btn-theme">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filter
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="product-filter-content">
                              <div class="search-count">
                                <!-- 1-{{filterItems2().length}} -->
                                <h5>{{'Showing Products' | translate}} </h5>
                              </div>
                              <div class="collection-grid-view">
                                <ul>
                                  <li>
                                    <img src="assets/images/icon/2.png" class="product-2-layout-view"
                                      (click)="twoCol()">
                                  </li>
                                  <li>
                                    <img src="assets/images/icon/3.png" class="product-3-layout-view"
                                      (click)="threeCol()">
                                  </li>
                                  <li>
                                    <img src="assets/images/icon/4.png" class="product-4-layout-view"
                                      (click)="fourCol()">
                                  </li>
                                  <li>
                                    <img src="assets/images/icon/6.png" class="product-6-layout-view"
                                      (click)="sixCol()">
                                  </li>
                                </ul>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Block Products -->
                    <!-- Display Products -->
                    <div class="product-wrapper-grid">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xl-3 col-md-6 col-grid-box" *ngFor="let doc of documents">
                            <div class="product-box">
                              <div class="img-wrapper">
                                <div class="lable-block">
                                  <span class="lable3" *ngIf='doc.productIsNew'>new</span>
                                  <span class="lable4" *ngIf='doc.productInSale'>on sale</span>
                                </div>
                                <div class="front">
                                  <a [routerLink]="['/home/product', doc.id]"><img
                                      [src]="doc.image ? url + doc.image.imageUrl : defaultImageUrl" class="img-fluid"
                                      alt=""></a>
                                </div>
                                <div class="cart-info cart-wrap" *ngIf="!productsService?.catalogMode">
                                  <a [routerLink]="" [attr.data-target]="'#addtocart'+doc.id" data-toggle="modal"
                                    (click)="addToCart(doc)" data-placement="left" title="Add to cart">
                                    <i class="ti-shopping-cart"></i>
                                  </a>
                                  <a [routerLink]="" (click)="addToWishlist(doc)" title="Add to Wishlist">
                                    <i class="ti-heart" aria-hidden="true"></i>
                                  </a>

                                  <a [routerLink]="['/home/product', doc.id]" title="View">
                                    <i class="ti-search" aria-hidden="true"></i>
                                  </a>

                                  <a [routerLink]="['/home/compare']" (click)="addToCompare(doc)" title="Compare">
                                    <i class="ti-reload" aria-hidden="true"></i>
                                  </a>
                                </div>
                              </div>
                            </div>
                            <div class="product-detail">
                              <div>
                                <a [routerLink]="['/home/product', doc.id]">
                                  <h6>{{doc.name}}</h6>
                                </a>
                                <h4 *ngIf="!productsService?.catalogMode">
                                  {{doc.price | currency:productsService?.currency:'symbol'}}
                                </h4>

                              </div>
                            </div>
                          </div>
                          <div *ngIf="!documents.length" class="col-sm-12 text-center section-b-space mt-5 no-found">
                            <img src="assets/images/empty-search.jpg" class="img-fluid mb-4">

                            <h3> {{"Sorry! Couldn't find the product you were looking For!!!"| translate}} </h3>
                            <!-- <p>
                              {{"Please check if you have misspelt something or try searching with other words."| translate}}
                            </p> -->
                            <a [routerLink]="'/home'" class="btn btn-solid">{{"continue shopping"| translate}}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section End -->
<app-quick-view></app-quick-view>
<app-modal-cart></app-modal-cart>