$theme-deafult: #ff4c3b;
$white: #ffffff;
.filter-button2 {
    padding: 0 24px;
    font-size: 20px;
    line-height: 35px;
    border: none;
    background-color: white;
    &.active {
      background-color: $theme-deafult;
      color: $white;
    }
  }