
<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="pull-left put right" style="width:50%">
                <h2 class="medium">
                    <img src="assets/images/echo/gallery.png" />
                    {{'Portfolio' | translate}}</h2>

            </div>
            <div class="pull-right put left" style="width:50%;">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a [routerLink]="'/home'" class="smaller">
                                <i class="fa fa-home"></i> &nbsp; {{'Home' | translate}}
                            </a> &nbsp; /
                        </li>
                        <li>
                            <a href="#" class="smaller">
                                &nbsp; {{'Portfolio' | translate}}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->









<!-- Our Project Start -->
<section class="portfolio-section grid-portfolio">
    <div class="container">

        <!-- <div align="center" id="form1">
            <button class="filter-button project_button active" data-filter="all">{{'All' | translate}}</button>
            <button class="filter-button project_button" (click)="filterByCategory(cat)" *ngFor="let cat of allCategoriesGalary;"
                [attr.data-filter]="cat">{{cat.description.name}}</button>
        </div> -->

        <div #gallery class="row zoom-gallery">
            <ng-container *ngFor="let im of allImages;let i = index">
                <div class="isotopeSelector filter {{im.categories.replace(',',' ')}} col-lg-3 col-sm-6">
                    <div class="overlay">
                        <div class="border-portfolio">
                            <a href="{{host + im.defaultImageUrl}}" data-source="">
                                <div class="overlay-background">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </div>
                                <img alt="{{im.productId}}" src="{{host + im.defaultImageUrl}}" class="b-top img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</section>
<!-- Our Project End -->