<div class="top-header" style="z-index:50 !important;height:50px !important">
  <!-- Page header -->
<div class="page-header bg-slate-800">

  <!-- Main navbar -->
  <div class="navbar navbar-inverse navbar-transparent">
    <div class="navbar-header echoTopBar">
        
        <ul class="pull-left put-right echo-welcome" id="echo-welcome">
          <li><span class="small">{{ 'topbar-title' | translate }}</span> &nbsp;</li>
          <li>
            <span class="small call-us">{{ 'call-us' | translate }}: 
              123 - 456 - 7890 
              <i class="fa fa-phone" aria-hidden="true"></i>
            </span>
          </li>
        </ul>
        
        
        <ul class="header-dropdown pull-right put-left echo-top-nav">
        <li class="dropdown echo-top-nav-elem" ngbDropdown >
            <a href="javascript:void(0)" class="nav-link small text-white" ngbDropdownToggle>
              <i class="{{countryFlag}}"></i>&nbsp;{{ selectedLanguage | translate }}
            </a>
            <div class="dropdown-menu-right" ngbDropdownMenu>
              <a class="dropdown-item small text-default" href="javascript:void(0)" 
              (click)="changeLang('en')">
                <i class="flag-icon flag-icon-gb"></i>&nbsp;&nbsp;{{ 'English' | translate }}
              </a>
              <hr class="separator"/>
              <a class="dropdown-item small txt-default"  href="javascript:void(0)" (click)="changeLang('ar')">
                <i class="flag-icon flag-icon-eg"></i>&nbsp;&nbsp;{{ 'Arabic' | translate }}
              </a>
            </div>
          </li>

        <li class="dropdown  echo-top-nav-elem"  ngbDropdown>
              <a href="javascript:void(0)" class="nav-link small text-white" ngbDropdownToggle>
                <i class="fa fa-user"></i>&nbsp;{{ 'my-account' | translate }} 
              </a>
              <div class="dropdown-menu-right" ngbDropdownMenu>
                   <ng-container *ngIf="!isLoggedIn">
                      <a [routerLink]="'/auth/login'" class="nav-link small txt-default" data-lng="es" id="topbar-login">
                        <i class="fa fa-user"></i> {{ 'login' | translate }}
                      </a>
                    </ng-container>
                    <ng-container *ngIf="isLoggedIn">
                      <a [routerLink]="'/account'" data-lng="es" id="topbar-myaccount" class="nav-link small txt-default">
                        <i class="fa fa-address-card "></i> {{ 'my-account' | translate }}
                      </a>
                      <hr class="separator"/>
                      <a [routerLink]="['/account']" [queryParams]="{ section: 'myOrders'}" data-lng="es"
                        id="topbar-myaccount"  class="nav-link small txt-default">
                        <i class="fa fa-files-o "></i> {{ 'my-orders' | translate }}
                      </a>
                      <hr class="separator"/>
                      <a [routerLink]="['/home/cart']" data-lng="es" id="topbar-myaccount" class="nav-link small txt-default">
                        <i class="fa fa-files-o "></i>{{ 'cart' | translate }}
                      </a>
                      <hr class="separator"/>
                      <a [routerLink]="['/pages/wishlist']" data-lng="es" id="topbar-mywishlist" class="nav-link small txt-default">
                        <i class="fa fa-cart-plus"></i>{{ 'wishlist' | translate }}
                      </a>
                      <hr class="separator"/>
                      <a data-lng="es" (click)="logout()" id="topbar-logout" class="nav-link small txt-default">
                          <i class="fa fa-sign-out"></i> {{ 'logout' | translate }}
                      </a>
                  </ng-container>
              </div>
        </li>

       
      </ul>
    </div>

  
  </div>
  <!-- /main navbar -->
  </div>
 
</div> 
