
<section class="p-0 brands-testmonial-row mt-2">
  <ngx-slick-carousel class="carousel" [config]="sliderConfig" >
    <div ngxSlickItem *ngFor="let d of DisplayedData" class="slide brands-testmonial-item">
        <div  [routerLink]="['/home/brand', d.id]" >
          <img  height="100px" [src]="d.image" alt="" width="100%" class=" brands-testmonial-img">
        </div>
    </div>
  </ngx-slick-carousel>
  </section>