<div class="row">
    <div class="col-xl-6 col-md-6 col-sm-12">
      <div class="footer-end">
        <p><i class="fa fa-copyright " aria-hidden="true"></i> {{today | date:'y'}} {{'Copyright' | translate}}</p>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12">
      <div class="payment-card-bottom">
        <ul>
          <li>
            <a [routerLink]=""><img src="assets/images/icon/visa.png" alt=""></a>
          </li>
          <li>
            <a [routerLink]=""><img src="assets/images/icon/mastercard.png" alt=""></a>
          </li>
          <li>
            <a [routerLink]=""><img src="assets/images/icon/paypal.png" alt=""></a>
          </li>
          <li>
            <a [routerLink]=""><img src="assets/images/icon/american-express.png" alt=""></a>
          </li>
          <li>
            <a [routerLink]=""><img src="assets/images/icon/discover.png" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
</div>