<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="pull-left put right" style="width:50%">
        <h2 class="medium">
          <img src="assets/images/echo/qout.png" />
          {{'Quotation' | translate}}</h2>

      </div>
      <div class="pull-right put left" style="width:50%;">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ul class="breadcrumb">
            <li>
              <a [routerLink]="'/home'" class="smaller">
                <i class="fa fa-home"></i> &nbsp; {{'Home' | translate}}
              </a> &nbsp; /
            </li>
            <li>
              <a href="#" class="smaller">
                &nbsp; {{'Quotation' | translate}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->

<!-- section start -->
<section class="wishlist-section section-b-space">
  <div>
    <div class="col-sm-12 empty-cart-cls text-center" *ngIf="!quotations.length">
      <img src="assets/images/icon-empty-cart.png" class="">
      <h3><strong>{{'Your Quotation is Empty' | translate}}</strong></h3>
      <h4>{{'Add something to make me happy :)' | translate}}</h4>
    </div>

    <div class="row" *ngIf="quotations.length">
      <div class="col-10" style="padding-right: 40px; padding-left: 40px;">
        <p>{{'Message For Sending Quotation'|translate}}</p>
      </div>
      <div class="col-2" style="text-align: center;">
        <button (click)="saveQuotationList()" class="btn btn-solid">{{'SendQuotation'|translate}}</button>
      </div>
    </div>
    <div class="row-sm-12">
      <div class="form-row" *ngIf="quotations.length" style="margin:20px !important;">
        <table class="table cart-table border">
          <thead class="bg-slate-600">
            <tr>
              <th class="text-white medium bg-slate-800" *ngFor="let col of columns"> {{col.header | translate}} </th>
            </tr>
          </thead>
          <tbody>
            <tr class="border text-small" *ngFor="let item of quotations; let i = index">
              <td *ngIf="item.product.image"><a>
                  <img src="{{host + item.product.image.imageUrl}}" alt="image">
                </a></td>
              <!-- <td *ngIf="!item.product.image"> <img src="assets/images/pro3/1.jpg" width="50" height="50" alt=""></td> -->

              <td *ngIf="!item.product.image">
                <img onError="this.src='assets/images/fashion/product/1.jpg'" alt="image">
              </td>

              <td class="small">
                <a [routerLink]="['/home/product/', item.product.id]">{{item.product.name}}</a></td>
              <td>
                <h2 class="larg">{{ item.product.price |
                  currency:productsService?.currency:'symbol' }}</h2>
              </td>
              <td class="small">
                <ng-container [ngSwitch]="item.product.available">
                  <ng-container *ngSwitchCase="true">{{'In Stock' | translate }}</ng-container>
                  <ng-container *ngSwitchCase="false">{{'Not available' | translate}}</ng-container>
                </ng-container>
              </td>

              <td>
                <div class="qty-box">
                  <div class="input-group"
                    style="height:22px !important;width:100px !important;vertical-align: middle;">
                    <button type="button" class="btn quantity-right-plus" (click)="decrement(item)"
                      style="float:left;height:40px !important;width:22px !important;" data-type="minus" data-field="">
                      <!-- <i class="ti-angle-right"></i> -->
                      <i class="fa fa-minus-square"></i>
                    </button>

                    <input type="text" name="quantity" disabled class="form-control input-number small"
                      [(ngModel)]="item.count" style="height:40px !important;width:40px !important;padding:1px">

                    <button type="button" style="height:40px !important;width:22px !important;"
                      class="float:right;btn quantity-right-plus" (click)="increment(item)" data-type="plus"
                      data-field="">
                      <!-- <i class="ti-angle-left"></i> -->
                      <i class="fa fa-plus"></i>
                    </button>

                  </div>
                </div>
              </td>
              <!-- <td><input type="number" name="count_{{i}}" min="1"  [(ngModel)]="item.count"/></td> -->
              <td class="text-danger-600 larg">
                {{ item.product.price * item.count |
                  currency:productsService?.currency:'symbol' }}
              </td>
              <td>

                <a [routerLink]="" (click)="removeQuotation(i)" class="btn btn-icon btn-rounded btn-sm legitRipple"
                  title="{{'Remove from Qutation'|translate}}">
                  <i class="ti-close"></i></a>



                <a [routerLink]="" class="btn btn-icon btn-rounded btn-sm legitRipple"
                  (click)="addToWishlist(item.product)" title="{{'Add to Wishlist'|translate}}">
                  <i class="ti-heart" aria-hidden="true"></i>
                </a>

                <a [routerLink]="" (click)="addToCompare(item.product)" title="{{'Add to Compare'|translate}}"
                  class="btn btn-icon btn-rounded btn-sm legitRipple">
                  <i class="ti-reload" aria-hidden="true"></i>
                </a>

                <a [routerLink]="" class="btn btn-icon btn-rounded btn-sm legitRipple" (click)="addToCart(item.product)"
                  title="{{'Add to Cart'|translate}}">
                  <i class="ti-shopping-cart"></i>
                </a>

              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="bg-slate-400 text-white">

              <td colspan="6">
                {{'total price' | translate}} : {{ getTotal() | async | currency:productsService?.currency:'symbol'}}
              </td>

              <td>&nbsp;</td>
            </tr>

        </table>
      </div>
      <!-- <div class="col-sm-12 text-center" *ngIf="quotations.length == 0">
        <img src="assets/images/empty-search.jpg" class="img-fluid mb-4"/>
        <h3>Sorry! The Quotation list is empty!!!</h3>
        <a [routerLink]="'/home'" class="btn btn-solid">Back To Home</a>
      </div> -->
    </div>
  </div>



</section>
<!--section end-->

<div class="margin10" *ngIf="Relatedproducts.length > 0">
  <div class="title-inner3">
    <div class="pull-left put-right medium"><i class="fa fa-bars sidebar-bar"></i>
      &nbsp;{{'You May Like' | translate}}</div>
    <div class="pull-right put-left more">
      <a href="#" class='small'>{{'Show More' | translate}} ... &gt;&gt;</a>
    </div>
  </div>
  <section class="p-t-0 section-b-space tools-grey border-box echo-border">
    <div class="padding10">
      <div class="row">
        <div class="col">
          <ngx-slick-carousel class="product-5 product-m no-arrow" #slickModal="slick-carousel"
            [config]="productSlideConfig">
            <div ngxSlickItem class="echo-Product" *ngFor="let product of Relatedproducts | slice:0:16">
              <app-product-box-hover [product]="product"></app-product-box-hover>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </section>
</div>


<!-- confirmation dialog -->
<p-confirmDialog></p-confirmDialog>