.rfq-form{
    border: solid 3px #f84a39;
    background-color: #fff;
    margin-left: 16px;
    overflow: hidden;
    background-position: 500px 500px;
    border-radius: 10px;
}

.btn-warning {
    color: #ffffff;
    background-color: #f84a39;
    border-color: #f84a39;
}
.quots-header{
    background-color: #f84a39;
    color: #ffffff;
}