<div class="row mx-5 align-items-center">
  <div class="col rfq-form">
      <div class="row quots-header">
        <div class="col">
          <span>
            <h4>{{'Request For Quotation' | translate}}</h4>
          </span>
        </div>
      </div>

      <div class="row my-2 px-3 ">
          <div class="col">
              <div class="form-group has-feedback has-feedback-left">
                      <div class="form-group">
                          <label for="file">{{'Request file' | translate}}</label>
                          <input type="file"
                                 id="file"
                                 (change)="handleFileInput($event.target.files)">
                      </div>
              </div>
            </div>
            <div class="col">
                <div class="form-group has-feedback has-feedback-left">
                    <label for="lname">{{'Email' | translate}}</label>
                    <input  type="text" class="form-control" id="lname">
                </div>
            </div>
      </div>

      

      <div class="row my-2 text-center">
        <div class="col">
            <button type="submit" class="btn btn-warning">{{'send request' | translate}}</button>
        </div>
      </div>
  </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <p>
            {{'subscribe note' | translate}}
          </p>
        </div>
      </div>
    <div class="row text-center">
        <div class="col">
            <form class="form-inline subscribe-form" (ngSubmit)="f.valid && onSubmit()" #f="ngForm">
                <div class="form-group mx-sm-3">
                  <input type="email" name="userEmail" #email="ngModel" [(ngModel)]="optin.email"
                    id="mce-EMAIL" class="form-control" required
                    placeholder="{{'enter_your_email' | translate}}"
                    [ngClass]="{ 'is-invalid': email.invalid }"
                    pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$">
        
                  <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div class="text-danger" *ngIf="email.errors.required">
                      {{'common_error_required' | translate}}
                    </div>
                    <div class="text-danger" *ngIf="email.errors.pattern">
                      {{'common_invalidEmail' | translate}} </div>
                  </div>
                </div>
        
                <button type="submit" class="btn btn-solid">{{'subscribe' | translate}}</button>
              </form>
        </div>
      </div>
      
    </div>
</div>