<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="pull-left put right" style="width:50%">
                <h2 class="medium">
                    <img src="assets/images/echo/compar.png" />
                    {{'compare' | translate}}</h2>

            </div>
            <div class="pull-right put left" style="width:50%;">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ul class="breadcrumb">
                        <li>
                            <a [routerLink]="'/home'" class="smaller">
                                <i class="fa fa-home"></i> &nbsp; {{'Home' | translate}}
                            </a> &nbsp; /
                        </li>
                        <li>
                            <a href="#" class="smaller">
                                &nbsp; {{'compare' | translate}}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->

<!-- section start -->
<section class="compare-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="compare-page">
                    <div class="col-sm-12 empty-cart-cls text-center" *ngIf="!products.length">
                        <img src="assets/images/empty-compare.png" class="mb-4">
                        <h3><strong>{{'Compare List is Empty' | translate}}</strong></h3>
                    </div>
                    <div class="table-wrapper table-responsive" *ngIf="products.length">
                        <table class="table panel border">
                            <tbody id="table-compare">
                                <!-- Product Name -->
                                <tr>
                                    <th class="text-center medium">{{'Product Name' | translate}}</th>
                                    <th class="text-center medium" *ngFor="let product of products">
                                        <a class="medium" [routerLink]="['/home/product/', product.id]">
                                            <span class="text-primary-800">{{product.name}}</span>
                                        </a>
                                    </th>
                                </tr>
                                <!-- Product Image -->
                                <tr>
                                    <th class="product-name medium bold text-center text-primary-500"
                                        style="vertical-align: middle;">{{'Product Image' | translate}}</th>
                                    <td class="item-row" *ngFor="let product of products">
                                        <!-- <img *ngIf="product.images"
                                            (click)="currentImg = host + product.images[0].imageUrl;op1.toggle($event)"
                                            [src]="host + product.images[0].imageUrl" width="185"
                                            class="featured-image"> -->

                                            <img *ngIf="product.image"
                                            (click)="currentImg = host + product.image.imageUrl;op1.toggle($event)"
                                            [src]="host + product.image.imageUrl" width="185"
                                            class="featured-image">

                                        <!-- <img *ngIf="!product.images" src="assets/images/pro3/1.jpg"
                                            (click)="currentImg='assets/images/pro3/1.jpg';op1.toggle($event)"
                                            height="150" width="185" class="featured-image"> -->
                                            <img *ngIf="!product.image" src="assets/images/pro3/1.jpg"
                                            (click)="currentImg='assets/images/pro3/1.jpg';op1.toggle($event)"
                                            height="150" width="185" class="featured-image">


                                        <div class="product-price product_price">
                                            <!-- On Sale -->
                                            <strong>{{"price" | translate}}:
                                            </strong><span>{{product.price | currency:productsService?.currency:'symbol'}}</span>
                                        </div>
                                        <form class="variants clearfix">

                                            <a [routerLink]="" (click)="addToCart(product)"
                                                class="btn btn-icon btn-rounded btn-sm legitRipple"
                                                title="{{'Add to Cart' |translate}}">
                                                <i class="ti-shopping-cart px-2"></i>
                                            </a>

                                            <a [routerLink]="" class="btn btn-icon btn-rounded btn-sm legitRipple"
                                                (click)="addToWishList(product)"
                                                title="{{'Add to Wishlist'|translate}}">
                                                <i class="ti-heart px-2" aria-hidden="true"></i>
                                            </a>

                                            <a [routerLink]="" class="btn btn-icon btn-rounded btn-sm legitRipple"
                                                (click)="addToQuotationList(product)"
                                                title="{{'Add to QuotatinList'|translate}}">
                                                <i class="fa fa-quote-left px-2" aria-hidden="true"></i>
                                            </a>

                                            <a [routerLink]="" class="btn btn-icon btn-rounded btn-sm legitRipple"
                                                (click)="removeItem(product)" title="{{'Remove' | translate}}">
                                                <i class="fa fa-trash px-2" style="color: red;" aria-hidden="true"></i>
                                            </a>

                                        </form>
                                    </td>
                                </tr>
                                <!-- Product Description -->
                                <tr>
                                    <th class="product-name medium bold text-center text-primary-500"
                                        style="vertical-align: middle;">{{'Product Description' | translate}}</th>
                                    <td class="item-row" *ngFor="let product of products">
                                        <!-- <p class="description-compare">{{product.descriptions[0].description}}</p> -->
                                        <div [innerHTML]="product.name"></div>
                                    </td>
                                </tr>
                                <!-- Product Availability -->
                                <tr>
                                    <th class="product-name medium bold text-center text-primary-500"
                                        style="vertical-align: middle;"> {{'Availability' | translate}} </th>
                                    <td class="available-stock" *ngFor="let product of products">
                                        <p *ngIf="product.available"> {{'Available In Stock' | translate}} </p>
                                        <p *ngIf="!product.available"> {{'Not Available In Stock' | translate}} </p>
                                    </td>
                                </tr>
                                <!-- Product Options -->
                                <tr>
                                    <th class="product-name medium bold text-center text-primary-500"
                                        style="vertical-align: middle;"> {{'Product_Options' | translate}} </th>
                                    <td class="available-stock" *ngFor="let product of products">
                                        <div *ngIf="product.options">
                                            <ng-container *ngFor="let opt of product.options">
                                                <span>{{opt.name}} : {{opt.optionValues[0].name}} </span> <br>
                                                <!-- | currency:productsService?.currency:'symbol' -->
                                                <strong><span>{{"price"|translate}}
                                                        :{{opt.optionValues[0].price }}</span></strong>
                                            </ng-container>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Section ends -->

<div class="title3 container echo-margin" *ngIf="Relatedproducts.length > 0">
    <div class="title-inner3">
        <div class="pull-left put-right"><i class="fa fa-bars sidebar-bar"></i> &nbsp;{{'You May Like' | translate}}
        </div>
        <div class="pull-right put-left more">
            <a href="#">{{'Show More' | translate}} ... &gt;&gt;</a>
        </div>
    </div>
    <section class="p-t-0 section-b-space tools-grey border-box echo-border">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ngx-slick-carousel class="product-5 product-m no-arrow" #slickModal="slick-carousel"
                        [config]="productSlideConfig">
                        <div ngxSlickItem class="echo-Product" *ngFor="let product of Relatedproducts | slice:0:16">
                            <app-product-box-hover [product]="product"></app-product-box-hover>
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </section>
</div>

<p-overlayPanel #op1 appendTo="body">
    <img style="max-height: 460px !important; max-width: 880px !important;" src="{{currentImg}}" alt="" />
</p-overlayPanel>