<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>{{'category' | translate}}</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/home'">{{'Home' |translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'category' | translate}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb end-->
<!-- section start -->
<section class="section-b-space">
  <div class="collection-wrapper">
    <div class="container">

      <div class="row" *ngIf="allProducts.length > 0">
        <!-- Collection Sidebar -->
        <div class="col-sm-3 collection-filter">
          <div class="coll_sidebar_sticky">
            <div class="collection-filter-block">
              <brands-filter [tagsFilters]="tags" (tagFilters)="updateTagFilters($event)" *ngIf="tags.length">
              </brands-filter>

              <general-product-filter *ngIf="allvariants.length > 0" [productsAttributes]="allvariants"
                (anyFilterEmitter)="generalProductFilterListChanged($event)">
              </general-product-filter>

              <!-- <app-price (priceFilters)="updatePriceFilters($event)"></app-price> -->
            </div>
          </div>
        </div>
        <!-- End Collection Sidebar -->
        <div class="collection-content col">
          <div class="page-main-content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="top-banner-wrapper">
                    <div class="top-banner-content small-section">
                      <h4>{{categoryData.description.name}}</h4>
                      <h5 [innerHTML]="categoryData.description.description"></h5>
                    </div>
                  </div>
                  <div class="collection-product-wrapper">
                    <!-- Filter Block Products -->
                    <div class="product-top-filter">
                      <div class="container-fluid p-0">
                        <div class="row">
                          <div class="col-xl-12">
                            <div class="filter-main-btn">
                              <span class="filter-btn btn btn-theme" (click)="mobileFilter()">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filter
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="product-filter-content">
                              <div class="search-count">
                                <!-- <h5>{{'Showing Products' | translate}} 1-{{filteredProducts.length}}</h5> -->
                                <app-price (priceFilters)="updatePriceFilters($event)"></app-price>
                              </div>
                              <div class="collection-grid-view">
                                <ul>
                                  <li>
                                    <img src="assets/images/icon/2.png" class="product-2-layout-view"
                                      (click)="twoCol()">
                                  </li>
                                  <li>
                                    <img src="assets/images/icon/3.png" class="product-3-layout-view"
                                      (click)="threeCol()">
                                  </li>
                                  <li>
                                    <img src="assets/images/icon/4.png" class="product-4-layout-view"
                                      (click)="fourCol()">
                                  </li>
                                  <li>
                                    <img src="assets/images/icon/6.png" class="product-6-layout-view"
                                      (click)="sixCol()">
                                  </li>
                                </ul>
                              </div>
                              <div class="product-page-filter">
                                <select (change)="onChangeSorting($event.target.value)">
                                  <option value="asc">{{'Sorting items' | translate}}</option>
                                  <option value="asc">{{'Ascending Order' | translate}}</option>
                                  <option value="desc">{{'Descending Order' | translate}}</option>
                                  <option value="a-z">{{'Alphabetically, A-Z' | translate}}</option>
                                  <option value="z-a">{{'Alphabetically, Z-A' | translate}}</option>
                                  <option value="low">{{'Price, low to high' | translate}}</option>
                                  <option value="high">{{'Price, high to low' | translate}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Block Products -->
                    <!-- Display Products -->
                    <div class="product-wrapper-grid">
                      <div class="container-fluid">
                        <div class="row" [@Animation]="animation">
                          <!-- <div class="row partition-cls"> -->
                            <div class="col-sm-3" *ngFor="let product of filteredProducts">
                              <div class="product-box ">
                                <product-card [product]="product"></product-card>
                              </div>
                            </div>
                          <!-- </div> -->
                          <!-- <div class="col-xl-3 col-md-6 col-grid-box" *ngFor="let product of filteredProducts">
                            <div class="product-box">
                              <product-card [product]="product"></product-card>
                            </div>
                          </div> -->
                          <div class="col-sm-12 text-center section-b-space mt-5 no-found"
                            *ngIf="!filteredProducts.length">
                            <img src="assets/images/empty-search.jpg" class=" mb-4">
                            <h3>{{'No Data' | translate}}</h3>
                            <a [routerLink]="'/home'" class="btn btn-solid">{{'continue shopping' | translate}}</a>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="allProducts.length == 0">
        <div class="col-sm-12 text-center section-b-space mt-5 no-found">
          <h3>{{'No Data' | translate}}</h3>
          <a [routerLink]="'/home'" class="btn btn-solid">{{'continue shopping' | translate}}</a>
        </div>
      </div>


    </div>
  </div>
</section>
<!-- section End -->
<app-quick-view></app-quick-view>
<app-modal-cart></app-modal-cart>