<!-- alternative carousel -->
<div class="title3">
  <div class="title-inner3">
    <div class="pull-left put-right medium"><i class="fa fa-bars sidebar-bar"></i> 
      &nbsp;{{'You May Like' | translate}}
    </div>
    <div class="pull-right put-left more">

    </div>
  </div>
  <section class="p-t-0 section-b-space tools-grey border-box echo-border">
    <div class="container">
      <div class="row">
        <div class="col">
          <ngx-slick-carousel class="product-5 product-m no-arrow" #slickModal="slick-carousel"
            [config]="productSlideConfig">
            <div ngxSlickItem class="echo-Product" *ngFor="let product of products | slice:0:16">
              <app-product-box-hover [product]="product"></app-product-box-hover>
            </div>
          </ngx-slick-carousel>
          <!-- progress spiner -->
          <p-progressSpinner *ngIf="loading" [style]="{width: '150px', height: '150px'}" strokeWidth="8"
            fill="#EEEEEE" animationDuration="1.0s"></p-progressSpinner>
          <!--  -->
          <span>{{emptyMsg | translate}}</span>
        </div>
      </div>
    </div>
  </section>
</div>