<!-- side-bar single product slider start   -->
<div *ngIf="products" class="theme-card" style="border:1px solid #ddd !important;">
  <h5 style="padding: 5px;">{{'You May Like' | translate}}</h5>
  <ngx-slick-carousel class="offer-slider" #slickModal="slick-carousel">
    <div ngxSlickItem class="media" *ngFor="let product of products | orderBy:'asc'">
      <a (click)="setProductId(product.id)" *ngIf="this.product.image.imageUrl"
        [routerLink]="['/home/product', product.id]"><img class="img-fluid" src="{{url}}{{this.product.image.imageUrl}}"
          alt=""></a>
      <a *ngIf="this.product.image.imageUrl == null" [routerLink]="['/home/product', product.id]"><img class="img-fluid"
          src="{{defaultImageUrl}}" alt=""></a>
      <div class="media-body align-self-center">
        <bar-rating [rate]="5" [readOnly]="true"></bar-rating>
        <a [routerLink]="['/home/product', product.id]">
          <h6>{{product.name}}</h6>
        </a>
        <h4 *ngIf="!productsService?.catalogMode">{{product.price | currency:productsService?.currency:'symbol'}}</h4>
      </div>
    </div>
    <!-- </div> -->
  </ngx-slick-carousel>
</div>
<!-- side-bar single product slider end -->