.rtl {
    .pixelstrap>li{
        float :right !important;
    }

    .sidenav.open-side {
        right: 0px !important;
        transition: all 0.5s ease !important;
    }
    .sidenav{
        right: -300px !important;
    }
    .rtlclass {
        direction: rtl !important;
    }
    .product-box .cart-info.cart-wrap, .product-box .cart-wrap.cart-wrap, .product-wrap .cart-info.cart-wrap, .product-wrap .cart-wrap.cart-wrap{
        text-align: left !important;
        left: 0px !important;
    }
    .search-bar .left-search-button{
        border-top-left-radius: 16px !important;
        border-bottom-left-radius: 16px !important;
    }
    
    .search-bar .right-search-button{
        border-top-right-radius: 16px !important;
        border-bottom-right-radius: 16px !important;
    }
    .cart_qty_cnt_cls{
        right : 32px !important;
    }
    .wlist_qty_cnt_cls{
        right : 25px !important;
    }

    .dropdown-menu{
        right : unset !important;
        left : 0px !important;
        text-align: right !important;
      }

   .put-left{float:left !important;}
   .put-right{float:right !important;}


  /* echoshop arabic Fonts*/
  .xx-larg{font-size: 22px;}
  .x-larg{font-size: 20px;}
  .larger{font-size: 18px;}
  .larg{font-size: 16px;}
  .medium{font-size:14px;}
  .small{font-size: 12px;}
  .smaller{font-size: 11px;}
  .x-small{font-size: 10px;}
  .xx-small{font-size: 8px;}



  .mega-menu{
    border:1px solid #ddd !important;
    // margin-left:20px !important;
    // margin-right:20px !important;
    // margin-bottom:20px !important;
    // width:90% !important;
    right:50px !important;
  }

  body .ui-megamenu .ui-megamenu-panel {
    padding: 0;
    left: -75px !important;
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
}

}
