

<!-- breadcrumb start -->
<div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                        <h2 class="medium"><img src="assets/images/echo/error.png" /> 
                          &nbsp; {{'Error_Page' | translate}}</h2>
                   
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ul class="breadcrumb">
                            <li>
                                    <a [routerLink]="'/home'" class="smaller">
                                    <i class="fa fa-home"></i> &nbsp; {{'Home' | translate}}
                                </a> &nbsp; /
                            </li>
                            <li>
                                    <a href="#" class="smaller">
                                         &nbsp; {{'Error_Page' | translate}}
                                    </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb End -->


<!-- section start -->
<section class="p-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-section">
                    <h1>404</h1>
                    <h2>page not found</h2>
                    <a [routerLink]="'/home/one'" class="btn btn-solid">back to home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
