<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
      <div class="row">
          <div class="col-sm-6">
              <div class="page-title">
                  <h2>{{'shipping & return' | translate}}</h2>
              </div>
          </div>
          <div class="col-sm-6">
              <nav aria-label="breadcrumb" class="theme-breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{'shipping & return' | translate}}</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- breadcrumb end -->
<!-- about section start -->
<section class="about-page  section-b-space">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="banner-section">
                  <img  src="assets/images/about/about%20us.jpg" class="img-fluid" alt=""/>
              </div>
          </div>
          <div class="col-sm-12" *ngFor = "let sys of systemInfoList">
              <h4>{{sys.name}}</h4>
              <!-- <ui>
                <li *ngFor = "let sysDetails of systemInfoDetails">
                  {{sysDetails.descriptions[0].name}}
                </li>
              </ui> -->
              <p *ngFor = "let sysDetails of systemInfoDetails"> {{sysDetails.descriptions[0].name}}</p>
              <!-- <p></p> -->
          </div>
      </div>
  </div>
</section>
