<div class="footer-title text-center">
    <span class="medium bold">{{'Categories' | translate}}</span>
</div>
<div class="footer-contant">
    <ul style="columns: 2;-webkit-columns: 2;-moz-columns: 2;padding:3px;">
        <li class="small" *ngFor="let categoryItem of footerCategories" style="border-bottom:1px dashed #ddd;padding:0px;margin:0px">
            <a  class="small" (click)="onActivate($event)" [routerLink]="['/home/collection', categoryItem.id]">{{categoryItem.description.name}}</a></li> 
    </ul>
</div>