/* You can add global styles to this file, and also import other style files */
@import './assets/scss/rtl/rtl';

// custom primeng
@import './assets/scss/theme/primeng-custom';

// custom styles-custom
@import './assets/scss/theme/styles-custom';

@font-face {
    font-family:Al-Jazeera-Arabic-Regular;
    src: url("./assets/fonts/AlJazeeraArabic/Al-Jazeera-Arabic-Regular.ttf") format('truetype');
    
  }
  
  @font-face {
    font-family:Al-Jazeera-Arabic-Regular;
    src: url("./assets/fonts/AlJazeeraArabic/Al-Jazeera-Arabic-Regular.ttf") format('truetype')
  }

  .bg-orange{
    background-color: #ff6a00 !important;
  }

  .btn-orange-echo {
    color: #ffffff;
    background-color: #ff4c3b;
    border-color: #ff4c3b;
  }
  
  .btn-orange-echo:hover {
    color: #ffffff;
    border-color: #ff6a00;
    background-color: #ff6a00;
  }

.btn-outline-light-echo {
  color: #212529;
  border-color: #f8f9fa;
}

.btn-outline-light-echo:hover {
  color: #ffffff;
  border-color: #c7c3c3;;
  background-color: #c7c3c3;
}


.btn-grey-echo {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

.btn-grey-echo:hover {
  color: #ffffff;
  border-color: #c7c3c3;;
  background-color: #c7c3c3;;
}

.txt-grey{
  color: #999999;
}
.txt-echo{
  color: #ff4c3b;
}
.dropdown-menu{
  right : 0px !important;
  left : unset !important;
}