<ng-container *ngFor="let attr of productsAttributes">
  <div class="collection-collapse-block">
    <h3 class="collapse-block-title reeeeeeeeeee">{{attr.name}}</h3>
    <div class="collection-collapse-block-content ceeeeeeeeeeeee">
      <div class="collection-brand-filter">
        <div class="custom-control custom-checkbox collection-filter-checkbox" *ngFor="let option of attr.options">
          <input type="checkbox" class="custom-control-input" [value]="option.code" (change)=checkedFilter($event)
            id="{{option.code}}">
          <label class="custom-control-label" for="{{option.code}}">{{option.name}}</label>
        </div>
      </div>
    </div>
  </div>
</ng-container>