<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h3>{{'Download Our App' | translate}}</h3>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">{{'Home' | translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{'Download Our App' | translate}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<section class="">
  <div class="container">


    <div class="row">
      <div class="col-lg-6 offset-lg-1">
        <br>
        <h3 class="my-4">{{'Get download link' | translate}}</h3>
        <form class="theme-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-row mb-3">
            <div class="col-md-12">
              <input type="email" class="form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                #emailref="ngModel" placeholder="{{'enter_your_email' | translate}}" required [(ngModel)]="userEmail"
                name="userEmail">
              <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="aler alert-danger">
                <div [hidden]="!emailref.errors?.required">
                  {{'common_error_required' | translate}}
                </div>
                <div [hidden]="!emailref.errors?.pattern">
                  {{'InvalidEmailPattern' | translate}}
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="form-row text-center">
            <div class="col-md-12">
              <a href="#" data-domdot="id:11652,ext:location=top|type=ios" target="_blank" class="mx-2">
                <img src="//img.alicdn.com/tps/TB1pge.PFXXXXXjXpXXXXXXXXXX-157-48.png" width="157" height="48" alt="">
              </a>

              <a href="#" data-domdot="id:11652,ext:location=top|type=android" target="_blank" class="mx-2">
                <img src="//img.alicdn.com/tps/TB1kV1MPFXXXXbSXVXXXXXXXXXX-157-48.png" width="157" height="48" alt="">
              </a>
            </div>
          </div>

        </form>
      </div>

      <div class="col-lg-5">
        <span class="tpic">
          <img src="//img.alicdn.com/tfs/TB1aycmPVXXXXbfXXXXXXXXXXXX-580-331.jpg" alt="">
        </span>
        <span *ngIf="sentGetAppEmailFlag" class="text-center">
          {{'Please open the email on your mobile phone to download the app' | translate}}
        </span>
      </div>
    </div>




  </div>
</section>