body .ui-megamenu .ui-megamenu-submenu-header {
    margin: 0;
    /* padding: 0.571em 1em; */
    /*color: #ffffff;
    background-color: #f24b3c !important;*/
    color: #f24b3c;
    background-color: #ffffff !important;
    border-bottom: 2px solid #688;
    padding-bottom: 3px;
    font-weight: 700;
    /*border: 0 none;*/
}

body .ui-megamenu .ui-megamenu-panel {
    padding: 0;
    left: unset !important;
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.16);
}

.ui-widget{
  
    font-family: "Al-Jazeera-Arabic-Regular" !important;
}

body .ui-megamenu .ui-megamenu-submenu-header {
    display: block;
}

body .ui-megamenu .ui-menuitem {
    display: block;
}