<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>{{'FAQ' | translate}}</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">{{'home' | translate}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{'FAQ' | translate}}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="accordion theme-accordion" id="accordionExample">

                    <div class="card" *ngFor="let item of faqList">
                        <div class="card-header" id="heading_{{item.id}}">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                [attr.data-target]="'#collapse_'+item.id" aria-expanded="false" [attr.aria-controls]="'collapse_'+item.id">
                                    {{item.question}}
                                </button>
                            </h5>
                        </div>
                        <div id="collapse_{{item.id}}" class="collapse" [attr.aria-labelledby]="'heading_'+item.id"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>{{item.answer}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->