@import '../../../../vendor/pace/pace-orange-min.css';
@import '../../../../assets/scss/color1';

.main-menu .menu-left .navbar {
    padding: 0px !important;
}

.container {
    width: 100%;  
    }
    h1, .h1 {
    font-size: 36px;
    text-align: center; 
    font-size: 5em;
      color: #404041;
    }
    .navbar-nav>li>.dropdown-menu {
        margin-top:20px;
        border-top-left-radius:4px;
        border-top-right-radius:4px;
    }
    .navbar-default .navbar-nav>li>a {
        width:200px;
        font-weight:bold;
    }
    .mega-dropdown {
      position: static !important;
      width:100%;
    }
    .mega-dropdown-menu {
        padding: 20px 0px;
        width: 100%;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    .mega-dropdown-menu:before {
        content: "";
        border-bottom: 15px solid #fff;
        border-right: 17px solid transparent;
        border-left: 17px solid transparent;
        position: absolute;
        top: -15px;
        left: 285px;
        z-index: 10;
    }
    .mega-dropdown-menu:after {
        content: "";
        border-bottom: 17px solid #ccc;
        border-right: 19px solid transparent;
        border-left: 19px solid transparent;
        position: absolute;
        top: -17px;
        left: 283px;
        z-index: 8;
    }
    .mega-dropdown-menu > li > ul {
      padding: 0;
      margin: 0;
    }
    .mega-dropdown-menu > li > ul > li {
      list-style: none;
    }
    .mega-dropdown-menu > li > ul > li > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.428571429;
      color: #999;
      white-space: normal;
    }
    .mega-dropdown-menu > li ul > li > a:hover,
    .mega-dropdown-menu > li ul > li > a:focus {
      text-decoration: none;
      color: #444;
      background-color: #f5f5f5;
    }
    .mega-dropdown-menu .dropdown-header {
      color: #428bca;
      font-size: 18px;
      font-weight:bold;
    }
    .mega-dropdown-menu form {
        margin:3px 20px;
    }
    .mega-dropdown-menu .form-group {
        margin-bottom: 3px;
    }