<div class="collection-collapse-block">
  <h3 class="collapse-block-title">{{'brand' | translate}}</h3>
  <div class="collection-collapse-block-content">
    <div class="collection-brand-filter">
      <div class="custom-control custom-checkbox collection-filter-checkbox" *ngFor="let filter of tagsFilters">
        <input type="checkbox" class="custom-control-input" [value]="filter.brand.code" (change)=checkedFilter($event)
          id="{{filter.brand.code}}">
        <label class="custom-control-label" for="{{filter.brand.code}}">{{filter.brand.description.name}}</label>
      </div>
    </div>
  </div>
</div>